In [2]:
import pandas as pd
import numpy as np
import requests as req
from bs4 import BeautifulSoup
from random import randint
import random
from time import sleep
import re
import os

In [136]:
dir = "Non Used\Segunda Divis√£o Austriaca" # insert league folder
for f in os.listdir(dir):
	table = pd.read_csv(dir + "/" + f)
	table = table.set_index("rank").drop("Unnamed: 0", axis=1).reset_index()
	table.iloc[0,2]
	if (table.iloc[0,2] == table.iloc[0,9] * 2 -2):
		if(os.path.exists(dir + "/Good_tables")):
			table.to_csv(dir + "/Good_tables/" + f)
		else:
			os.mkdir(dir + "/Good_tables")
			table.to_csv(dir + "/Good_tables/" + f)
	else:
		if(os.path.exists(dir + "/Bad_tables")):
			table.to_csv(dir + "/Bad_tables/" + f)
		else:
			os.mkdir(dir + "/Bad_tables")
			table.to_csv(dir + "/Bad_tables/" + f)

In [57]:
dir = "Data to clean" # insert league folder
total_count = 0
count = 0
for f in os.listdir(dir):
	for i in os.listdir(dir + "/" + f):
		count += 1
	total_count += count
	count = 0
print(total_count)

81

In [131]:
def clean_playoffs(file):
	table = pd.read_csv(file)
	teams_to_del = table.isna().sum()[3]
	temp_name_list = table["team_name"][teams_to_del:].reset_index()
	temp_name_list.dropna(inplace=True)
	table = table[:-teams_to_del].drop("Unnamed: 0", axis=1).reset_index()
	table["team_name"] = temp_name_list["team_name"]
	table["team_n"] = len(table)
	table["rank"] = np.arange(1, len(table) + 1)
	table.drop("index", axis=1, inplace=True)
	table.to_csv(file.replace(".csv", "_clean.csv"))
	display(table)
	return table

In [134]:
name = "League Two Bad_tables"
dir = "Data to clean/" + name
for f in os.listdir(dir):
		print(f)
		clean_playoffs(dir + "/" + f)

107516.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,Accrington Stanley,46.0,29.0,6.0,11.0,76.0,46.0,93.0,24
1,2,Luton Town,46.0,25.0,13.0,8.0,94.0,46.0,88.0,24
2,3,Wycombe Wanderers,46.0,24.0,12.0,10.0,79.0,60.0,84.0,24
3,4,Exeter City,46.0,24.0,8.0,14.0,64.0,54.0,80.0,24
4,5,Notts County,46.0,21.0,14.0,11.0,71.0,48.0,77.0,24
5,6,Coventry City,46.0,22.0,9.0,15.0,64.0,47.0,75.0,24
6,7,Lincoln City,46.0,20.0,15.0,11.0,64.0,48.0,75.0,24
7,8,Mansfield Town,46.0,18.0,18.0,10.0,67.0,52.0,72.0,24
8,9,Swindon Town,46.0,20.0,8.0,18.0,67.0,65.0,68.0,24
9,10,Carlisle United,46.0,17.0,16.0,13.0,62.0,54.0,67.0,24
10,11,Newport County,46.0,16.0,16.0,14.0,56.0,58.0,64.0,24
11,12,Cambridge United,46.0,17.0,13.0,16.0,56.0,60.0,64.0,24
12,13,Colchester,46.0,16.0,14.0,16.0,53.0,52.0,62.0,24
13,14,Crawley Town,46.0,16.0,11.0,19.0,58.0,66.0,59.0,24
14,15,Crewe Alexandra,46.0,17.0,5.0,24.0,62.0,75.0,56.0,24
15,16,Stevenage,46.0,14.0,13.0,19.0,60.0,65.0,55.0,24
16,17,Cheltenham Town,46.0,13.0,12.0,21.0,67.0,73.0,51.0,24
17,18,Grimsby Town,46.0,13.0,12.0,21.0,42.0,66.0,51.0,24
18,19,Yeovil Town,46.0,12.0,12.0,22.0,59.0,75.0,48.0,24
19,20,Port Vale,46.0,11.0,14.0,21.0,49.0,67.0,47.0,24
20,21,Forest Green Rovers,46.0,13.0,8.0,25.0,54.0,77.0,47.0,24
21,22,Morecambe,46.0,9.0,19.0,18.0,41.0,56.0,46.0,24
22,23,Barnet,46.0,12.0,10.0,24.0,46.0,65.0,46.0,24
23,24,Chesterfield,46.0,10.0,8.0,28.0,47.0,83.0,38.0,24

125021.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,Lincoln City,46.0,23.0,16.0,7.0,73.0,43.0,85.0,24
1,2,Bury,46.0,22.0,13.0,11.0,82.0,56.0,79.0,24
2,3,MK Dons,46.0,23.0,10.0,13.0,71.0,49.0,79.0,24
3,4,Mansfield Town,46.0,20.0,16.0,10.0,69.0,41.0,76.0,24
4,5,Forest Green Rovers,46.0,20.0,14.0,12.0,68.0,47.0,74.0,24
5,6,Tranmere Rovers,46.0,20.0,13.0,13.0,63.0,50.0,73.0,24
6,7,Newport County,46.0,20.0,11.0,15.0,59.0,59.0,71.0,24
7,8,Colchester,46.0,20.0,10.0,16.0,65.0,53.0,70.0,24
8,9,Exeter City,46.0,19.0,13.0,14.0,60.0,49.0,70.0,24
9,10,Stevenage,46.0,20.0,10.0,16.0,59.0,55.0,70.0,24
10,11,Carlisle United,46.0,20.0,8.0,18.0,67.0,62.0,68.0,24
11,12,Crewe Alexandra,46.0,19.0,8.0,19.0,60.0,59.0,65.0,24
12,13,Swindon Town,46.0,16.0,16.0,14.0,59.0,56.0,64.0,24
13,14,Oldham Athletic,46.0,16.0,14.0,16.0,67.0,60.0,62.0,24
14,15,Northampton Town,46.0,14.0,19.0,13.0,64.0,63.0,61.0,24
15,16,Cheltenham Town,46.0,15.0,12.0,19.0,57.0,68.0,57.0,24
16,17,Grimsby Town,46.0,16.0,8.0,22.0,45.0,56.0,56.0,24
17,18,Morecambe,46.0,14.0,12.0,20.0,54.0,70.0,54.0,24
18,19,Crawley Town,46.0,15.0,8.0,23.0,51.0,68.0,53.0,24
19,20,Port Vale,46.0,12.0,13.0,21.0,39.0,55.0,49.0,24
20,21,Cambridge United,46.0,12.0,11.0,23.0,40.0,66.0,47.0,24
21,22,Macclesfield Town,46.0,10.0,14.0,22.0,48.0,74.0,44.0,24
22,23,Notts County,46.0,9.0,14.0,23.0,48.0,84.0,41.0,24
23,24,Yeovil Town,46.0,9.0,13.0,24.0,41.0,66.0,40.0,24

1486.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,MK Dons,46.0,29.0,10.0,7.0,82.0,37.0,97.0,24
1,2,Peterborough United,46.0,28.0,8.0,10.0,84.0,43.0,92.0,24
2,3,Hereford,46.0,26.0,10.0,10.0,72.0,41.0,88.0,24
3,4,Stockport County,46.0,24.0,10.0,12.0,72.0,54.0,82.0,24
4,5,Rochdale,46.0,23.0,11.0,12.0,77.0,54.0,80.0,24
5,6,Darlington,46.0,22.0,12.0,12.0,67.0,40.0,78.0,24
6,7,Wycombe Wanderers,46.0,22.0,12.0,12.0,56.0,42.0,78.0,24
7,8,Chesterfield,46.0,19.0,12.0,15.0,76.0,56.0,69.0,24
8,9,Rotherham,46.0,21.0,11.0,14.0,62.0,58.0,64.0,24
9,10,Bradford City,46.0,17.0,11.0,18.0,63.0,61.0,62.0,24
10,11,Morecambe,46.0,16.0,12.0,18.0,59.0,63.0,60.0,24
11,12,Barnet,46.0,16.0,12.0,18.0,56.0,63.0,60.0,24
12,13,Bury,46.0,16.0,11.0,19.0,58.0,61.0,59.0,24
13,14,Brentford,46.0,17.0,8.0,21.0,52.0,70.0,59.0,24
14,15,Lincoln City,46.0,18.0,4.0,24.0,61.0,77.0,58.0,24
15,16,Grimsby Town,46.0,15.0,10.0,21.0,55.0,66.0,55.0,24
16,17,Accrington Stanley,46.0,16.0,3.0,27.0,49.0,83.0,51.0,24
17,18,Shrewsbury Town,46.0,12.0,14.0,20.0,56.0,65.0,50.0,24
18,19,Macclesfield Town,46.0,11.0,17.0,18.0,47.0,64.0,50.0,24
19,20,Dag and Red,46.0,13.0,10.0,23.0,49.0,70.0,49.0,24
20,21,Notts County,46.0,10.0,18.0,18.0,37.0,53.0,48.0,24
21,22,Chester City,46.0,12.0,11.0,23.0,51.0,68.0,47.0,24
22,23,Mansfield Town,46.0,11.0,9.0,26.0,48.0,68.0,42.0,24
23,24,Wrexham,46.0,10.0,10.0,26.0,38.0,70.0,40.0,24

15225.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1        Chesterfield  46.0  24.0  14.0   8.0  85.0  51.0  86.0      24
1      2                Bury  46.0  23.0  12.0  11.0  82.0  50.0  81.0      24
2      3   Wycombe Wanderers  46.0  22.0  14.0  10.0  69.0  50.0  80.0      24
3      4     Shrewsbury Town  46.0  22.0  13.0  11.0  72.0  49.0  79.0      24
4      5  Accrington Stanley  46.0  18.0  19.0   9.0  73.0  55.0  73.0      24
5      6      Torquay United  46.0  17.0  18.0  11.0  74.0  53.0  69.0      24
6      7           Stevenage  46.0  18.0  15.0  13.0  62.0  45.0  69.0      24
7      8          Gillingham  46.0  17.0  17.0  12.0  67.0  57.0  68.0      24
8      9           Rotherham  46.0  17.0  15.0  14.0  75.0  60.0  66.0      24
9     10     Crewe Alexandra  46.0  18.0  11.0  17.0  87.0  65.0  65.0      24
10    11           Port Vale  46.0  17.0  14.0  15.0  54.0  49.0  65.0      24
11    12       Oxford United  46.0  17.0  12.0  17.0  58.0  60.0  63.0      24
12    13     Southend United  46.0  16.0  13.0  17.0  62.0  56.0  61.0      24
13    14      Aldershot Town  46.0  14.0  19.0  13.0  54.0  54.0  61.0      24
14    15   Macclesfield Town  46.0  14.0  13.0  19.0  59.0  73.0  55.0      24
15    16            Hereford  46.0  12.0  17.0  17.0  50.0  66.0  53.0      24
16    17    Northampton Town  46.0  11.0  19.0  16.0  63.0  71.0  52.0      24
17    18     Cheltenham Town  46.0  13.0  13.0  20.0  56.0  77.0  52.0      24
18    19       Bradford City  46.0  15.0   7.0  24.0  43.0  68.0  52.0      24
19    20       Burton Albion  46.0  12.0  15.0  19.0  56.0  70.0  51.0      24
20    21           Morecambe  46.0  13.0  12.0  21.0  54.0  73.0  51.0      24
21    22              Barnet  46.0  12.0  12.0  22.0  58.0  77.0  48.0      24
22    23        Lincoln City  46.0  13.0   8.0  25.0  45.0  81.0  47.0      24
23    24    Stockport County  46.0   9.0  14.0  23.0  48.0  96.0  41.0      24

2261.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1           Brentford  46.0  23.0  15.0   8.0  65.0  37.0  84.0      24
1      2   Wycombe Wanderers  46.0  21.0  17.0   8.0  55.0  33.0  80.0      24
2      3         Exeter City  46.0  22.0  13.0  11.0  65.0  50.0  79.0      24
3      4                Bury  46.0  21.0  15.0  10.0  63.0  43.0  78.0      24
4      5          Gillingham  46.0  21.0  12.0  13.0  58.0  55.0  75.0      24
5      6            Rochdale  46.0  19.0  13.0  14.0  70.0  59.0  70.0      24
6      7     Shrewsbury Town  46.0  17.0  18.0  11.0  61.0  44.0  69.0      24
7      8         Dag and Red  46.0  19.0  11.0  16.0  77.0  53.0  68.0      24
8      9       Bradford City  46.0  18.0  13.0  15.0  66.0  55.0  67.0      24
9     10        Chesterfield  46.0  16.0  15.0  15.0  62.0  57.0  63.0      24
10    11           Morecambe  46.0  15.0  18.0  13.0  53.0  56.0  63.0      24
11    12          Darlington  46.0  20.0  12.0  14.0  61.0  44.0  62.0      24
12    13        Lincoln City  46.0  14.0  17.0  15.0  53.0  52.0  59.0      24
13    14           Rotherham  46.0  21.0  12.0  13.0  60.0  46.0  58.0      24
14    15      Aldershot Town  46.0  14.0  12.0  20.0  59.0  80.0  54.0      24
15    16  Accrington Stanley  46.0  13.0  11.0  22.0  42.0  59.0  50.0      24
16    17              Barnet  46.0  11.0  15.0  20.0  56.0  74.0  48.0      24
17    18           Port Vale  46.0  13.0   9.0  24.0  44.0  66.0  48.0      24
18    19        Notts County  46.0  11.0  14.0  21.0  49.0  69.0  47.0      24
19    20   Macclesfield Town  46.0  13.0   8.0  25.0  45.0  77.0  47.0      24
20    21     AFC Bournemouth  46.0  17.0  12.0  17.0  59.0  51.0  46.0      24
21    22        Grimsby Town  46.0   9.0  14.0  23.0  51.0  69.0  41.0      24
22    23        Chester City  46.0   8.0  13.0  25.0  43.0  81.0  37.0      24
23    24          Luton Town  46.0  13.0  17.0  16.0  58.0  65.0  26.0      24

22755.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1        Swindon Town  46.0  29.0   6.0  11.0  75.0  32.0  93.0      24
1      2     Shrewsbury Town  46.0  26.0  10.0  10.0  66.0  41.0  88.0      24
2      3        Crawley Town  46.0  23.0  15.0   8.0  76.0  54.0  84.0      24
3      4     Southend United  46.0  25.0   8.0  13.0  77.0  48.0  83.0      24
4      5      Torquay United  46.0  23.0  12.0  11.0  63.0  50.0  81.0      24
5      6     Cheltenham Town  46.0  23.0   8.0  15.0  66.0  50.0  77.0      24
6      7     Crewe Alexandra  46.0  20.0  12.0  14.0  67.0  59.0  72.0      24
7      8          Gillingham  46.0  20.0  10.0  16.0  79.0  62.0  70.0      24
8      9           Port Vale  46.0  20.0   9.0  17.0  68.0  60.0  69.0      24
9     10       Oxford United  46.0  17.0  17.0  12.0  59.0  48.0  68.0      24
10    11           Rotherham  46.0  18.0  13.0  15.0  67.0  63.0  67.0      24
11    12      Aldershot Town  46.0  19.0   9.0  18.0  54.0  52.0  66.0      24
12    13      Bristol Rovers  46.0  15.0  12.0  19.0  60.0  70.0  57.0      24
13    14  Accrington Stanley  46.0  14.0  15.0  17.0  54.0  66.0  57.0      24
14    15           Morecambe  46.0  14.0  14.0  18.0  63.0  57.0  56.0      24
15    16       AFC Wimbledon  46.0  15.0   9.0  22.0  62.0  78.0  54.0      24
16    17       Burton Albion  46.0  14.0  12.0  20.0  54.0  81.0  54.0      24
17    18       Bradford City  46.0  12.0  14.0  20.0  54.0  59.0  50.0      24
18    19         Dag and Red  46.0  14.0   8.0  24.0  50.0  72.0  50.0      24
19    20    Northampton Town  46.0  12.0  12.0  22.0  56.0  79.0  48.0      24
20    21     Plymouth Argyle  46.0  10.0  16.0  20.0  47.0  64.0  46.0      24
21    22              Barnet  46.0  12.0  10.0  24.0  52.0  79.0  46.0      24
22    23            Hereford  46.0  10.0  14.0  22.0  50.0  70.0  44.0      24
23    24   Macclesfield Town  46.0   8.0  13.0  25.0  39.0  64.0  37.0      24

28683.csv

    rank          team_name    GP     W     D     L    GF    GA      P  team_n
0      1    Plymouth Argyle  46.0  31.0   9.0   6.0  71.0  28.0  102.0      24
1      2         Luton Town  46.0  30.0   7.0   9.0  96.0  48.0   97.0      24
2      3     Mansfield Town  46.0  24.0   7.0  15.0  72.0  60.0   79.0      24
3      4    Cheltenham Town  46.0  21.0  15.0  10.0  66.0  49.0   78.0      24
4      5           Rochdale  46.0  21.0  15.0  10.0  65.0  52.0   78.0      24
5      6            Rushden  46.0  20.0  13.0  13.0  69.0  53.0   73.0      24
6      7  Hartlepool United  46.0  20.0  11.0  15.0  74.0  48.0   71.0      24
7      8  Scunthorpe United  46.0  19.0  14.0  13.0  74.0  56.0   71.0      24
8      9    Shrewsbury Town  46.0  20.0  10.0  16.0  64.0  53.0   70.0      24
9     10      Kidderminster  46.0  19.0   9.0  18.0  56.0  47.0   66.0      24
10    11          Hull City  46.0  16.0  13.0  17.0  57.0  51.0   61.0      24
11    12    Southend United  46.0  15.0  13.0  18.0  51.0  54.0   58.0      24
12    13  Macclesfield Town  46.0  15.0  13.0  18.0  41.0  52.0   58.0      24
13    14          York City  46.0  16.0   9.0  21.0  54.0  67.0   57.0      24
14    15         Darlington  46.0  15.0  11.0  20.0  60.0  71.0   56.0      24
15    16        Exeter City  46.0  14.0  13.0  19.0  48.0  73.0   55.0      24
16    17    Carlisle United  46.0  12.0  16.0  18.0  49.0  56.0   52.0      24
17    18      Leyton Orient  46.0  13.0  13.0  20.0  55.0  71.0   52.0      24
18    19     Torquay United  46.0  12.0  15.0  19.0  46.0  63.0   51.0      24
19    20       Swansea City  46.0  13.0  12.0  21.0  53.0  77.0   51.0      24
20    21      Oxford United  46.0  11.0  14.0  21.0  53.0  62.0   47.0      24
21    22       Lincoln City  46.0  10.0  16.0  20.0  44.0  62.0   46.0      24
22    23     Bristol Rovers  46.0  11.0  12.0  23.0  40.0  60.0   45.0      24
23    24       Halifax Town  46.0   8.0  12.0  26.0  39.0  84.0   36.0      24

32707.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,Walsall,46.0,25.0,14.0,7.0,66.0,34.0,89.0,24
1,2,Hartlepool United,46.0,26.0,10.0,10.0,65.0,40.0,88.0,24
2,3,Swindon Town,46.0,25.0,10.0,11.0,58.0,38.0,85.0,24
3,4,MK Dons,46.0,25.0,9.0,12.0,76.0,58.0,84.0,24
4,5,Lincoln City,46.0,21.0,11.0,14.0,70.0,59.0,74.0,24
5,6,Bristol Rovers,46.0,20.0,12.0,14.0,49.0,42.0,72.0,24
6,7,Shrewsbury Town,46.0,18.0,17.0,11.0,68.0,46.0,71.0,24
7,8,Stockport County,46.0,21.0,8.0,17.0,65.0,54.0,71.0,24
8,9,Rochdale,46.0,18.0,12.0,16.0,70.0,50.0,66.0,24
9,10,Peterborough United,46.0,18.0,11.0,17.0,70.0,61.0,65.0,24
10,11,Darlington,46.0,17.0,14.0,15.0,52.0,56.0,65.0,24
11,12,Wycombe Wanderers,46.0,16.0,14.0,16.0,52.0,47.0,62.0,24
12,13,Notts County,46.0,16.0,14.0,16.0,55.0,53.0,62.0,24
13,14,Barnet,46.0,16.0,11.0,19.0,55.0,70.0,59.0,24
14,15,Grimsby Town,46.0,17.0,8.0,21.0,57.0,73.0,59.0,24
15,16,Hereford,46.0,14.0,13.0,19.0,45.0,53.0,55.0,24
16,17,Mansfield Town,46.0,14.0,12.0,20.0,58.0,63.0,54.0,24
17,18,Chester City,46.0,13.0,14.0,19.0,40.0,48.0,53.0,24
18,19,Wrexham,46.0,13.0,12.0,21.0,43.0,65.0,51.0,24
19,20,Accrington Stanley,46.0,13.0,11.0,22.0,70.0,81.0,50.0,24
20,21,Bury,46.0,13.0,11.0,22.0,46.0,61.0,50.0,24
21,22,Macclesfield Town,46.0,12.0,12.0,22.0,55.0,77.0,48.0,24
22,23,Boston United,46.0,12.0,10.0,24.0,51.0,80.0,46.0,24
23,24,Torquay United,46.0,7.0,14.0,25.0,36.0,63.0,35.0,24

32708.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,Carlisle United,46.0,25.0,11.0,10.0,84.0,42.0,86.0,24
1,2,Northampton Town,46.0,22.0,17.0,7.0,63.0,37.0,83.0,24
2,3,Leyton Orient,46.0,22.0,15.0,9.0,67.0,51.0,81.0,24
3,4,Grimsby Town,46.0,22.0,12.0,12.0,64.0,44.0,78.0,24
4,5,Cheltenham Town,46.0,19.0,15.0,12.0,65.0,53.0,72.0,24
5,6,Wycombe Wanderers,46.0,18.0,17.0,11.0,72.0,56.0,71.0,24
6,7,Lincoln City,46.0,15.0,21.0,10.0,65.0,53.0,66.0,24
7,8,Darlington,46.0,16.0,15.0,15.0,58.0,52.0,63.0,24
8,9,Peterborough United,46.0,17.0,11.0,18.0,57.0,49.0,62.0,24
9,10,Shrewsbury Town,46.0,16.0,13.0,17.0,55.0,55.0,61.0,24
10,11,Boston United,46.0,15.0,16.0,15.0,50.0,60.0,61.0,24
11,12,Bristol Rovers,46.0,17.0,9.0,20.0,59.0,67.0,60.0,24
12,13,Wrexham,46.0,15.0,14.0,17.0,61.0,54.0,59.0,24
13,14,Rochdale,46.0,14.0,14.0,18.0,66.0,69.0,56.0,24
14,15,Chester City,46.0,14.0,12.0,20.0,53.0,59.0,54.0,24
15,16,Mansfield Town,46.0,13.0,15.0,18.0,59.0,66.0,54.0,24
16,17,Macclesfield Town,46.0,12.0,18.0,16.0,60.0,71.0,54.0,24
17,18,Barnet,46.0,12.0,18.0,16.0,44.0,57.0,54.0,24
18,19,Bury,46.0,12.0,17.0,17.0,45.0,57.0,53.0,24
19,20,Torquay United,46.0,13.0,13.0,20.0,53.0,66.0,52.0,24
20,21,Notts County,46.0,12.0,16.0,18.0,48.0,63.0,52.0,24
21,22,Stockport County,46.0,11.0,19.0,16.0,57.0,78.0,52.0,24
22,23,Oxford United,46.0,11.0,16.0,19.0,43.0,57.0,49.0,24
23,24,Rushden & Diamonds,46.0,11.0,12.0,23.0,44.0,76.0,45.0,24

32709.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1        Yeovil Town   46.0  25.0   8.0  13.0  90.0  65.0  83.0      24
1      2  Scunthorpe United   46.0  22.0  14.0  10.0  69.0  42.0  80.0      24
2      3       Swansea City   46.0  24.0   8.0  14.0  62.0  43.0  80.0      24
3      4    Southend United   46.0  22.0  12.0  12.0  65.0  46.0  78.0      24
4      5  Macclesfield Town   46.0  22.0   9.0  15.0  60.0  49.0  75.0      24
5      6       Lincoln City   46.0  20.0  12.0  14.0  64.0  47.0  72.0      24
6      7   Northampton Town   46.0  20.0  12.0  14.0  62.0  51.0  72.0      24
7      8         Darlington   46.0  20.0  12.0  14.0  57.0  49.0  72.0      24
8      9           Rochdale   46.0  16.0  18.0  12.0  54.0  48.0  66.0      24
9     10  Wycombe Wanderers   46.0  17.0  14.0  15.0  58.0  52.0  65.0      24
10    11      Leyton Orient   46.0  16.0  15.0  15.0  65.0  67.0  63.0      24
11    12     Bristol Rovers   46.0  13.0  21.0  12.0  60.0  57.0  60.0      24
12    13     Mansfield Town   46.0  15.0  15.0  16.0  56.0  56.0  60.0      24
13    14    Cheltenham Town   46.0  16.0  12.0  18.0  51.0  54.0  60.0      24
14    15      Oxford United   46.0  16.0  11.0  19.0  50.0  63.0  59.0      24
15    16      Boston United   46.0  14.0  16.0  16.0  62.0  58.0  58.0      24
16    17               Bury   46.0  14.0  16.0  16.0  54.0  54.0  58.0      24
17    18       Grimsby Town   46.0  14.0  16.0  16.0  51.0  52.0  58.0      24
18    19       Notts County   46.0  13.0  13.0  20.0  46.0  62.0  52.0      24
19    20       Chester City   46.0  12.0  16.0  18.0  43.0  69.0  52.0      24
20    21    Shrewsbury Town   46.0  11.0  16.0  19.0  48.0  53.0  49.0      24
21    22            Rushden   46.0  10.0  14.0  22.0  42.0  63.0  44.0      24
22    23   Cambridge United   46.0   8.0  16.0  22.0  39.0  62.0  40.0      24
23    24      Kidderminster   46.0  10.0   8.0  28.0  39.0  85.0  38.0      24

32710.csv

    rank          team_name    GP     W     D     L    GF    GA     P  team_n
0      1   Doncaster Rovers  46.0  27.0  11.0   8.0  79.0  37.0  92.0      24
1      2          Hull City  46.0  25.0  13.0   8.0  82.0  44.0  88.0      24
2      3     Torquay United  46.0  23.0  12.0  11.0  68.0  44.0  81.0      24
3      4  Huddersfield Town  46.0  23.0  12.0  11.0  68.0  52.0  81.0      24
4      5     Mansfield Town  46.0  22.0   9.0  15.0  76.0  62.0  75.0      24
5      6   Northampton Town  46.0  22.0   9.0  15.0  58.0  51.0  75.0      24
6      7       Lincoln City  46.0  19.0  17.0  10.0  68.0  47.0  74.0      24
7      8        Yeovil Town  46.0  23.0   5.0  18.0  70.0  57.0  74.0      24
8      9      Oxford United  46.0  18.0  17.0  11.0  55.0  44.0  71.0      24
9     10       Swansea City  46.0  15.0  14.0  17.0  58.0  61.0  59.0      24
10    11      Boston United  46.0  16.0  11.0  19.0  50.0  54.0  59.0      24
11    12               Bury  46.0  15.0  11.0  20.0  54.0  64.0  56.0      24
12    13   Cambridge United  46.0  14.0  14.0  18.0  55.0  67.0  56.0      24
13    14    Cheltenham Town  46.0  14.0  14.0  18.0  57.0  71.0  56.0      24
14    15     Bristol Rovers  46.0  14.0  13.0  19.0  50.0  61.0  55.0      24
15    16      Kidderminster  46.0  14.0  13.0  19.0  45.0  59.0  55.0      24
16    17    Southend United  46.0  14.0  12.0  20.0  51.0  63.0  54.0      24
17    18         Darlington  46.0  14.0  11.0  21.0  53.0  61.0  53.0      24
18    19      Leyton Orient  46.0  13.0  14.0  19.0  48.0  65.0  53.0      24
19    20  Macclesfield Town  46.0  13.0  13.0  20.0  54.0  69.0  52.0      24
20    21           Rochdale  46.0  12.0  14.0  20.0  49.0  58.0  50.0      24
21    22  Scunthorpe United  46.0  11.0  16.0  19.0  69.0  72.0  49.0      24
22    23    Carlisle United  46.0  12.0   9.0  25.0  46.0  69.0  45.0      24
23    24          York City  46.0  10.0  14.0  22.0  35.0  66.0  44.0      24

32711.csv

    rank          team_name    GP     W     D     L    GF    GA     P  team_n
0      1            Rushden  46.0  24.0  15.0   7.0  73.0  47.0  87.0      24
1      2  Hartlepool United  46.0  24.0  13.0   9.0  71.0  51.0  85.0      24
2      3            Wrexham  46.0  23.0  15.0   8.0  84.0  50.0  84.0      24
3      4    AFC Bournemouth  46.0  20.0  14.0  12.0  60.0  48.0  74.0      24
4      5  Scunthorpe United  46.0  19.0  15.0  12.0  68.0  49.0  72.0      24
5      6       Lincoln City  46.0  18.0  16.0  12.0  46.0  37.0  70.0      24
6      7               Bury  46.0  18.0  16.0  12.0  57.0  56.0  70.0      24
7      8      Oxford United  46.0  19.0  12.0  15.0  57.0  47.0  69.0      24
8      9     Torquay United  46.0  16.0  18.0  12.0  71.0  71.0  66.0      24
9     10          York City  46.0  17.0  15.0  14.0  52.0  53.0  66.0      24
10    11      Kidderminster  46.0  16.0  15.0  15.0  62.0  63.0  63.0      24
11    12   Cambridge United  46.0  16.0  13.0  17.0  67.0  70.0  61.0      24
12    13          Hull City  46.0  14.0  17.0  15.0  58.0  53.0  59.0      24
13    14      Boston United  46.0  15.0  13.0  18.0  55.0  56.0  58.0      24
14    15         Darlington  46.0  12.0  18.0  16.0  58.0  59.0  54.0      24
15    16  Macclesfield Town  46.0  14.0  12.0  20.0  57.0  63.0  54.0      24
16    17    Southend United  46.0  17.0   3.0  26.0  47.0  59.0  54.0      24
17    18      Leyton Orient  46.0  14.0  11.0  21.0  51.0  61.0  53.0      24
18    19           Rochdale  46.0  12.0  16.0  18.0  63.0  70.0  52.0      24
19    20     Bristol Rovers  46.0  12.0  15.0  19.0  50.0  57.0  51.0      24
20    21       Swansea City  46.0  12.0  13.0  21.0  48.0  65.0  49.0      24
21    22    Carlisle United  46.0  13.0  10.0  23.0  52.0  78.0  49.0      24
22    23        Exeter City  46.0  11.0  15.0  20.0  50.0  64.0  48.0      24
23    24    Shrewsbury Town  46.0   9.0  14.0  23.0  62.0  92.0  41.0      24

32713.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,Swansea City,46.0,24.0,13.0,9.0,51.0,30.0,85.0,24
1,2,Rotherham,46.0,24.0,12.0,10.0,72.0,36.0,84.0,24
2,3,Northampton Town,46.0,25.0,7.0,14.0,63.0,45.0,82.0,24
3,4,Darlington,46.0,21.0,16.0,9.0,66.0,36.0,79.0,24
4,5,Peterborough United,46.0,22.0,12.0,12.0,63.0,54.0,78.0,24
5,6,Barnet,46.0,21.0,12.0,13.0,59.0,53.0,75.0,24
6,7,Hartlepool United,46.0,21.0,9.0,16.0,60.0,49.0,72.0,24
7,8,Cheltenham Town,46.0,20.0,10.0,16.0,50.0,42.0,70.0,24
8,9,Torquay United,46.0,19.0,12.0,15.0,62.0,52.0,69.0,24
9,10,Rochdale,46.0,18.0,14.0,14.0,57.0,54.0,68.0,24
10,11,Brighton & Hove Albion,46.0,17.0,16.0,13.0,64.0,46.0,67.0,24
11,12,Plymouth Argyle,46.0,16.0,18.0,12.0,55.0,51.0,66.0,24
12,13,Macclesfield Town,46.0,18.0,11.0,17.0,66.0,61.0,65.0,24
13,14,Hull City,46.0,15.0,14.0,17.0,43.0,43.0,59.0,24
14,15,Lincoln City,46.0,15.0,14.0,17.0,67.0,69.0,59.0,24
15,16,Southend United,46.0,15.0,11.0,20.0,53.0,61.0,56.0,24
16,17,Mansfield Town,46.0,16.0,8.0,22.0,50.0,65.0,56.0,24
17,18,Halifax Town,46.0,15.0,9.0,22.0,44.0,58.0,54.0,24
18,19,Leyton Orient,46.0,13.0,13.0,20.0,47.0,52.0,52.0,24
19,20,York City,46.0,12.0,16.0,18.0,39.0,53.0,52.0,24
20,21,Exeter City,46.0,11.0,11.0,24.0,46.0,72.0,44.0,24
21,22,Shrewsbury Town,46.0,9.0,13.0,24.0,40.0,67.0,40.0,24
22,23,Carlisle United,46.0,9.0,12.0,25.0,42.0,75.0,39.0,24
23,24,Chester City,46.0,10.0,9.0,27.0,44.0,79.0,39.0,24

32761.csv

,rank,team_name,GP,W,D,L,GF,GA,P,team_n
0,1,Brighton & Hove Albion,46.0,28.0,8.0,10.0,73.0,35.0,92.0,24
1,2,Chesterfield,46.0,25.0,14.0,7.0,79.0,42.0,89.0,24
2,3,Cardiff City,46.0,23.0,13.0,10.0,95.0,58.0,82.0,24
3,4,Hartlepool United,46.0,21.0,14.0,11.0,71.0,54.0,77.0,24
4,5,Leyton Orient,46.0,20.0,15.0,11.0,59.0,51.0,75.0,24
5,6,Hull City,46.0,19.0,17.0,10.0,47.0,39.0,74.0,24
6,7,Blackpool,46.0,22.0,6.0,18.0,72.0,56.0,72.0,24
7,8,Rochdale,46.0,18.0,17.0,11.0,59.0,48.0,71.0,24
8,9,Cheltenham Town,46.0,18.0,14.0,14.0,57.0,50.0,68.0,24
9,10,Scunthorpe United,46.0,18.0,11.0,17.0,62.0,52.0,65.0,24
10,11,Southend United,46.0,15.0,18.0,13.0,55.0,53.0,63.0,24
11,12,Plymouth Argyle,46.0,15.0,13.0,18.0,54.0,61.0,58.0,24
12,13,Mansfield Town,46.0,15.0,13.0,18.0,64.0,72.0,58.0,24
13,14,Macclesfield Town,46.0,14.0,14.0,18.0,51.0,62.0,56.0,24
14,15,Shrewsbury Town,46.0,15.0,10.0,21.0,49.0,65.0,55.0,24
15,16,Kidderminster,46.0,13.0,14.0,19.0,47.0,61.0,53.0,24
16,17,York City,46.0,13.0,13.0,20.0,42.0,63.0,52.0,24
17,18,Lincoln City,46.0,12.0,15.0,19.0,58.0,66.0,51.0,24
18,19,Exeter City,46.0,12.0,14.0,20.0,40.0,58.0,50.0,24
19,20,Darlington,46.0,12.0,13.0,21.0,44.0,56.0,49.0,24
20,21,Torquay United,46.0,12.0,13.0,21.0,52.0,77.0,49.0,24
21,22,Carlisle United,46.0,11.0,15.0,20.0,42.0,65.0,48.0,24
22,23,Halifax Town,46.0,12.0,11.0,23.0,54.0,68.0,47.0,24
23,24,Barnet,46.0,12.0,9.0,25.0,67.0,81.0,45.0,24

48649.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1          Gillingham  46.0  23.0  14.0   9.0  66.0  39.0  83.0      24
1      2           Rotherham  46.0  24.0   7.0  15.0  74.0  59.0  79.0      24
2      3           Port Vale  46.0  21.0  15.0  10.0  87.0  52.0  78.0      24
3      4       Burton Albion  46.0  22.0  10.0  14.0  70.0  66.0  76.0      24
4      5     Cheltenham Town  46.0  20.0  15.0  11.0  58.0  51.0  75.0      24
5      6    Northampton Town  46.0  21.0  10.0  15.0  64.0  55.0  73.0      24
6      7       Bradford City  46.0  18.0  15.0  13.0  63.0  52.0  69.0      24
7      8        Chesterfield  46.0  18.0  13.0  15.0  60.0  45.0  67.0      24
8      9       Oxford United  46.0  19.0   8.0  19.0  60.0  61.0  65.0      24
9     10         Exeter City  46.0  18.0  10.0  18.0  63.0  62.0  64.0      24
10    11     Southend United  46.0  16.0  13.0  17.0  61.0  55.0  61.0      24
11    12            Rochdale  46.0  16.0  13.0  17.0  68.0  70.0  61.0      24
12    13      Fleetwood Town  46.0  15.0  15.0  16.0  55.0  57.0  60.0      24
13    14      Bristol Rovers  46.0  16.0  12.0  18.0  60.0  69.0  60.0      24
14    15   Wycombe Wanderers  46.0  17.0   9.0  20.0  50.0  60.0  60.0      24
15    16           Morecambe  46.0  15.0  13.0  18.0  55.0  61.0  58.0      24
16    17           York City  46.0  12.0  19.0  15.0  50.0  60.0  55.0      24
17    18  Accrington Stanley  46.0  14.0  12.0  20.0  51.0  68.0  54.0      24
18    19      Torquay United  46.0  13.0  14.0  19.0  55.0  62.0  53.0      24
19    20       AFC Wimbledon  46.0  14.0  11.0  21.0  54.0  76.0  53.0      24
20    21     Plymouth Argyle  46.0  13.0  13.0  20.0  46.0  55.0  52.0      24
21    22         Dag and Red  46.0  13.0  12.0  21.0  55.0  62.0  51.0      24
22    23              Barnet  46.0  13.0  12.0  21.0  48.0  58.0  51.0      24
23    24      Aldershot Town  46.0  11.0  15.0  20.0  42.0  60.0  48.0      24

58452.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1        Chesterfield  46.0  23.0  15.0   8.0  71.0  40.0  84.0      24
1      2   Scunthorpe United  46.0  20.0  21.0   5.0  68.0  44.0  81.0      24
2      3            Rochdale  46.0  24.0   9.0  13.0  69.0  48.0  81.0      24
3      4      Fleetwood Town  46.0  22.0  10.0  14.0  66.0  52.0  76.0      24
4      5     Southend United  46.0  19.0  15.0  12.0  56.0  39.0  72.0      24
5      6       Burton Albion  46.0  19.0  15.0  12.0  47.0  42.0  72.0      24
6      7           York City  46.0  18.0  17.0  11.0  52.0  41.0  71.0      24
7      8       Oxford United  46.0  16.0  14.0  16.0  53.0  50.0  62.0      24
8      9         Dag and Red  46.0  15.0  15.0  16.0  53.0  59.0  60.0      24
9     10     Plymouth Argyle  46.0  16.0  12.0  18.0  51.0  58.0  60.0      24
10    11      Mansfield Town  46.0  15.0  15.0  16.0  49.0  58.0  60.0      24
11    12                Bury  46.0  13.0  20.0  13.0  59.0  51.0  59.0      24
12    13          Portsmouth  46.0  14.0  17.0  15.0  56.0  66.0  59.0      24
13    14      Newport County  46.0  14.0  16.0  16.0  56.0  59.0  58.0      24
14    15  Accrington Stanley  46.0  14.0  15.0  17.0  54.0  56.0  57.0      24
15    16       AFC Wimbledon  46.0  14.0  14.0  18.0  49.0  57.0  56.0      24
16    17         Exeter City  46.0  14.0  13.0  19.0  54.0  57.0  55.0      24
17    18     Cheltenham Town  46.0  13.0  16.0  17.0  53.0  63.0  55.0      24
18    19           Morecambe  46.0  13.0  15.0  18.0  52.0  64.0  54.0      24
19    20   Hartlepool United  46.0  14.0  11.0  21.0  50.0  56.0  53.0      24
20    21    Northampton Town  46.0  13.0  14.0  19.0  42.0  57.0  53.0      24
21    22   Wycombe Wanderers  46.0  12.0  14.0  20.0  46.0  54.0  50.0      24
22    23      Bristol Rovers  46.0  12.0  14.0  20.0  43.0  54.0  50.0      24
23    24      Torquay United  46.0  12.0   9.0  25.0  42.0  66.0  45.0      24

69895.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1       Burton Albion  46.0  28.0  10.0   8.0  69.0  39.0  94.0      24
1      2     Shrewsbury Town  46.0  27.0   8.0  11.0  67.0  31.0  89.0      24
2      3                Bury  46.0  26.0   7.0  13.0  60.0  40.0  85.0      24
3      4   Wycombe Wanderers  46.0  23.0  15.0   8.0  67.0  45.0  84.0      24
4      5     Southend United  46.0  24.0  12.0  10.0  54.0  38.0  84.0      24
5      6           Stevenage  46.0  20.0  12.0  14.0  62.0  54.0  72.0      24
6      7     Plymouth Argyle  46.0  20.0  11.0  15.0  55.0  37.0  71.0      24
7      8          Luton Town  46.0  19.0  11.0  16.0  54.0  44.0  68.0      24
8      9      Newport County  46.0  18.0  11.0  17.0  51.0  54.0  65.0      24
9     10         Exeter City  46.0  17.0  13.0  16.0  61.0  65.0  64.0      24
10    11           Morecambe  46.0  17.0  12.0  17.0  53.0  52.0  63.0      24
11    12    Northampton Town  46.0  18.0   7.0  21.0  67.0  62.0  61.0      24
12    13       Oxford United  46.0  15.0  16.0  15.0  50.0  49.0  61.0      24
13    14         Dag and Red  46.0  17.0   8.0  21.0  58.0  59.0  59.0      24
14    15       AFC Wimbledon  46.0  14.0  16.0  16.0  54.0  60.0  58.0      24
15    16          Portsmouth  46.0  14.0  15.0  17.0  52.0  54.0  57.0      24
16    17  Accrington Stanley  46.0  15.0  11.0  20.0  58.0  77.0  56.0      24
17    18           York City  46.0  11.0  19.0  16.0  46.0  51.0  52.0      24
18    19    Cambridge United  46.0  13.0  12.0  21.0  61.0  66.0  51.0      24
19    20     Carlisle United  46.0  14.0   8.0  24.0  56.0  74.0  50.0      24
20    21      Mansfield Town  46.0  13.0   9.0  24.0  38.0  62.0  48.0      24
21    22   Hartlepool United  46.0  12.0   9.0  25.0  39.0  70.0  45.0      24
22    23     Cheltenham Town  46.0   9.0  14.0  23.0  40.0  67.0  41.0      24
23    24     Tranmere Rovers  46.0   9.0  12.0  25.0  45.0  67.0  39.0      24

8574.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1        Notts County  46.0  27.0  12.0   7.0  96.0  31.0  93.0      24
1      2     AFC Bournemouth  46.0  25.0   8.0  13.0  61.0  44.0  83.0      24
2      3            Rochdale  46.0  25.0   7.0  14.0  82.0  48.0  82.0      24
3      4           Morecambe  46.0  20.0  13.0  13.0  73.0  64.0  73.0      24
4      5           Rotherham  46.0  21.0  10.0  15.0  55.0  52.0  73.0      24
5      6      Aldershot Town  46.0  20.0  12.0  14.0  69.0  56.0  72.0      24
6      7         Dag and Red  46.0  20.0  12.0  14.0  69.0  58.0  72.0      24
7      8        Chesterfield  46.0  21.0   7.0  18.0  61.0  62.0  70.0      24
8      9                Bury  46.0  19.0  12.0  15.0  54.0  59.0  69.0      24
9     10           Port Vale  46.0  17.0  17.0  12.0  61.0  50.0  68.0      24
10    11    Northampton Town  46.0  18.0  13.0  15.0  62.0  53.0  67.0      24
11    12     Shrewsbury Town  46.0  17.0  12.0  17.0  55.0  54.0  63.0      24
12    13       Burton Albion  46.0  17.0  11.0  18.0  71.0  71.0  62.0      24
13    14       Bradford City  46.0  16.0  14.0  16.0  59.0  62.0  62.0      24
14    15  Accrington Stanley  46.0  18.0   7.0  21.0  62.0  74.0  61.0      24
15    16            Hereford  46.0  17.0   8.0  21.0  54.0  65.0  59.0      24
16    17      Torquay United  46.0  14.0  15.0  17.0  64.0  55.0  57.0      24
17    18     Crewe Alexandra  46.0  15.0  10.0  21.0  68.0  73.0  55.0      24
18    19   Macclesfield Town  46.0  12.0  18.0  16.0  49.0  58.0  54.0      24
19    20        Lincoln City  46.0  13.0  11.0  22.0  42.0  65.0  50.0      24
20    21              Barnet  46.0  12.0  12.0  22.0  47.0  63.0  48.0      24
21    22     Cheltenham Town  46.0  10.0  18.0  18.0  54.0  71.0  48.0      24
22    23        Grimsby Town  46.0   9.0  17.0  20.0  45.0  71.0  44.0      24
23    24          Darlington  46.0   8.0   6.0  32.0  33.0  87.0  30.0      24

87111.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1    Northampton Town  46.0  29.0  12.0   5.0  82.0  46.0  99.0      24
1      2       Oxford United  46.0  24.0  14.0   8.0  84.0  41.0  86.0      24
2      3      Bristol Rovers  46.0  26.0   7.0  13.0  77.0  46.0  85.0      24
3      4  Accrington Stanley  46.0  24.0  13.0   9.0  74.0  48.0  85.0      24
4      5     Plymouth Argyle  46.0  24.0   9.0  13.0  72.0  46.0  81.0      24
5      6          Portsmouth  46.0  21.0  15.0  10.0  75.0  44.0  78.0      24
6      7       AFC Wimbledon  46.0  21.0  12.0  13.0  64.0  50.0  75.0      24
7      8       Leyton Orient  46.0  19.0  12.0  15.0  60.0  61.0  69.0      24
8      9    Cambridge United  46.0  18.0  14.0  14.0  66.0  55.0  68.0      24
9     10     Carlisle United  46.0  17.0  16.0  13.0  67.0  62.0  67.0      24
10    11          Luton Town  46.0  19.0   9.0  18.0  63.0  61.0  66.0      24
11    12      Mansfield Town  46.0  17.0  13.0  16.0  61.0  53.0  64.0      24
12    13   Wycombe Wanderers  46.0  17.0  13.0  16.0  45.0  44.0  64.0      24
13    14         Exeter City  46.0  17.0  13.0  16.0  63.0  65.0  64.0      24
14    15              Barnet  46.0  17.0  11.0  18.0  67.0  68.0  62.0      24
15    16   Hartlepool United  46.0  15.0   6.0  25.0  49.0  72.0  51.0      24
16    17        Notts County  46.0  14.0   9.0  23.0  54.0  83.0  51.0      24
17    18           Stevenage  46.0  11.0  15.0  20.0  52.0  67.0  48.0      24
18    19         Yeovil Town  46.0  11.0  15.0  20.0  43.0  59.0  48.0      24
19    20        Crawley Town  46.0  13.0   8.0  25.0  45.0  78.0  47.0      24
20    21           Morecambe  46.0  12.0  10.0  24.0  69.0  91.0  46.0      24
21    22      Newport County  46.0  10.0  13.0  23.0  43.0  64.0  43.0      24
22    23         Dag and Red  46.0   8.0  10.0  28.0  46.0  81.0  34.0      24
23    24           York City  46.0   7.0  13.0  26.0  51.0  87.0  34.0      24

98052.csv

    rank           team_name    GP     W     D     L    GF    GA     P  team_n
0      1          Portsmouth  46.0  26.0   9.0  11.0  79.0  40.0  87.0      24
1      2     Plymouth Argyle  46.0  26.0   9.0  11.0  71.0  46.0  87.0      24
2      3    Doncaster Rovers  46.0  25.0  10.0  11.0  85.0  55.0  85.0      24
3      4          Luton Town  46.0  20.0  17.0   9.0  70.0  43.0  77.0      24
4      5         Exeter City  46.0  21.0   8.0  17.0  75.0  56.0  71.0      24
5      6     Carlisle United  46.0  18.0  17.0  11.0  69.0  68.0  71.0      24
6      7           Blackpool  46.0  18.0  16.0  12.0  69.0  46.0  70.0      24
7      8          Colchester  46.0  19.0  12.0  15.0  67.0  57.0  69.0      24
8      9   Wycombe Wanderers  46.0  19.0  12.0  15.0  58.0  53.0  69.0      24
9     10           Stevenage  46.0  20.0   7.0  19.0  67.0  63.0  67.0      24
10    11    Cambridge United  46.0  19.0   9.0  18.0  58.0  50.0  66.0      24
11    12      Mansfield Town  46.0  17.0  15.0  14.0  54.0  50.0  66.0      24
12    13  Accrington Stanley  46.0  17.0  14.0  15.0  59.0  56.0  65.0      24
13    14        Grimsby Town  46.0  17.0  11.0  18.0  59.0  63.0  62.0      24
14    15              Barnet  46.0  14.0  15.0  17.0  57.0  64.0  57.0      24
15    16        Notts County  46.0  16.0   8.0  22.0  54.0  76.0  56.0      24
16    17     Crewe Alexandra  46.0  14.0  13.0  19.0  58.0  67.0  55.0      24
17    18           Morecambe  46.0  14.0  10.0  22.0  53.0  73.0  52.0      24
18    19        Crawley Town  46.0  13.0  12.0  21.0  53.0  71.0  51.0      24
19    20         Yeovil Town  46.0  11.0  17.0  18.0  49.0  64.0  50.0      24
20    21     Cheltenham Town  46.0  12.0  14.0  20.0  49.0  69.0  50.0      24
21    22      Newport County  46.0  12.0  12.0  22.0  51.0  73.0  48.0      24
22    23   Hartlepool United  46.0  11.0  13.0  22.0  54.0  75.0  46.0      24
23    24       Leyton Orient  46.0  10.0   6.0  30.0  47.0  87.0  36.0      24