In [4]:
import pandas as pd
import numpy as np
import requests as req
from bs4 import BeautifulSoup
from random import randint
import random
from time import sleep
import re
import os

In [5]:
user_agent = {'User-Agent' : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36 Edg/107.0.1418.35"}

In [8]:
non_scraped_urls = []
list_of_ids = [5,15,51,200] #271

while(len(list_of_ids) != 0):
	comp_id = random.choice(list_of_ids) # get random competition from list
	url_comp = "https://www.zerozero.pt/competition.php?id_comp=" + str(comp_id) #builds the url
	list_of_ids.pop(list_of_ids.index(comp_id)) #removes the id from the list, so it doesn't double scrape
	#soup the response (main competition page and get the links to individual seasons)
	response = req.get(url_comp, headers=user_agent)
	assert(response.status_code == 200)
	soup = BeautifulSoup(response.content)
	links = soup.find_all("a", attrs={"style":"text-decoration:none;"})
	# scrape the competition name and create the corresponding dir
	dir_name = str(soup.find_all("span", attrs = {"style":"color:rgb(255,255,255) !important;"})[0].text)
	os.mkdir(dir_name)
	# register the competition in a file
	f = open("scraped_competitions.txt", "a+")
	f.write(str(comp_id) + " - " + dir_name + "\n")
	f.close()
	# Go through 20 links (starts in i + 4, so to avoid the last few seasons) and scrape each one
	for i in range(20):
		url_season = "https://www.zerozero.pt/" + links[i + 4]['href']
		print(url_season)
		season = req.get(url=url_season, headers=user_agent)
		assert(season.status_code == 200)
		soup = BeautifulSoup(season.content)
		# save the data
		names = [i.text for i in soup.find_all("td", attrs = {"class":"text"})]
		total_games = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos jogos disputados"})]
		wins = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todas as vitórias"})]
		ties = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos os empates"})]
		losses = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todas as derrotas"})]
		points = [i.text for i in soup.find_all("strong")]
		goals_for = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos os jogos com golos marcados"})]
		goals_against = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos os jogos com golos sofridos"})]
		# checks for blocking (if goals_against isn't found - could be any other variable) and if blocked, records the url and waits 20-40m
		# this is also triggered if there's no league table, but there's no good solution for that
		if (len(goals_against) == 0):
			print(f"Reading failed. Break - {url_season} was NOT scraped")
			non_scraped_urls.append(url_season)
			f = open("non_scraped_urls.txt", "a+")
			f.write(url_season + '\n')
			f.close()
			delay = randint(1200, 2400)
			sleep(delay)
			print(f"Now sleeping for {round(delay/60, 2)} minutes, let's hope they unblock us soon")
		else:
			# if not blocked, add rank and team number, rearrange the columns and save the table (also displays for visual confirmation)
			table = pd.concat([pd.Series(data=names, name="team_name"), pd.Series(total_games, name="GP"), pd.Series(wins, name="W"), pd.Series(ties, name="D"), pd.Series(losses, name="L"), pd.Series(goals_for, name="GF"), pd.Series(goals_against, name="GA"), pd.Series(points, name="P")], axis=1)
			table["rank"] = np.arange(1,len(table) + 1)
			table["team_n"] = len(table)
			table = table.iloc[:, [8,0,1,2,3,4,5,6,7,9]]
			file_name = dir_name + "/" + re.findall('[0-9]+', url_season)[0]
			table.to_csv(file_name + ".csv")
			if ((comp_id == 15) | (comp_id == 271)):
				f = open(file_name + ".txt", "w+")
				f.write(season.text)
				f.close()
			display(table)
			# a 1 in 5 chance to access the main competition table, as to mimic human behaviour
			if randint(1,5) == 5:
				delay = randint(25,150)
				req.get(url_comp, headers=user_agent)
			# one in eight chance to take a bit more time (also to mimic human behaviour), but always wait at least 25 seconds before moving on
			if randint(1,8) == 8:
				delay = randint(120,240)
			else:
				delay = randint(25,150)
			print(f"Delaying for {delay} seconds...")
			sleep(delay)

https://www.zerozero.pt/edition.php?id=125020

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1    Charlton Athletic   46   27   13    6   90   42   94      30
1      2           Sunderland   46   26   13    7   80   39   91      30
2      3           Sunderland   46   26   10   10   73   40   88      30
3      4           Portsmouth   46   25   13    8   83   51   88      30
4      5     Doncaster Rovers   46   22   19    5   80   47   85      30
5      6    Charlton Athletic   46   20   13   13   76   58   73      30
6      7           Luton Town   46   20   12   14   71   62   72      30
7      8             Barnsley   46   18   11   17   54   54   65      30
8      9    Charlton Athletic   46   17   12   17   66   57   63      30
9     10           Portsmouth   46   15   17   14   50   52   62      30
10    11           Sunderland   46   16   13   17   58   52   61      30
11    12     Doncaster Rovers   46   15   15   16   58   64   60      30
12    13  Peterborough United   46   15   10   21   61   72   55      30
13    14        Coventry City   46   14   13   19   51   67   55      30
14    15        Burton Albion   46   13   15   18   47   50   54      30
15    16            Blackpool   46   15    9   22   54   87   54      30
16    17       Fleetwood Town   46   14   11   21   55   67   53      30
17    18        Oxford United   46   12   16   18   51   59   52      30
18    19           Gillingham   46   14    8   24   55   68   50      30
19    20   Accrington Stanley   46   13   11   22   42   63   50      30
20    21       Bristol Rovers   46   13   11   22   56   80   50      30
21    22             Rochdale   46   12   11   23   49   71   47      30
22    23    Wycombe Wanderers   46   12   10   24   53   83   46      30
23    24      Shrewsbury Town   46   11    8   27   49   77   41      30
24    25      Southend United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26        AFC Wimbledon  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27      Plymouth Argyle  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28              Walsall  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29    Scunthorpe United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30        Bradford City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 73 seconds...
https://www.zerozero.pt/edition.php?id=107513

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1            Rotherham   46   29   11    6   89   29   98      30
1      2      Shrewsbury Town   46   28   12    6   82   40   96      30
2      3    Charlton Athletic   46   25   12    9   60   39   87      30
3      4      Shrewsbury Town   46   24    7   15   73   53   79      30
4      5    Scunthorpe United   46   19   17   10   65   50   74      30
5      6            Rotherham   46   20   11   15   58   51   71      30
6      7       Wigan Athletic   46   19   11   16   58   59   68      30
7      8     Blackburn Rovers   46   20    6   20   57   56   66      30
8      9      Shrewsbury Town   46   17   13   16   68   60   64      30
9     10            Rotherham   46   17   12   17   58   62   63      30
10    11    Scunthorpe United   46   18    9   19   57   67   63      30
11    12    Charlton Athletic   46   15   15   16   60   55   60      30
12    13      Plymouth Argyle   46   16   11   19   60   66   59      30
13    14           Portsmouth   46   16    9   21   59   68   57      30
14    15  Peterborough United   46   13   17   16   52   52   56      30
15    16      Southend United   46   15   11   20   61   66   56      30
16    17        Bradford City   46   13   17   16   50   55   56      30
17    18            Blackpool   46   13   14   19   47   58   53      30
18    19       Bristol Rovers   46   13   13   20   53   66   52      30
19    20       Fleetwood Town   46   11   18   17   49   57   51      30
20    21     Doncaster Rovers   46   11   17   18   58   75   50      30
21    22        Oxford United   46   12   11   23   43   77   47      30
22    23           Gillingham   46   11   12   23   43   69   45      30
23    24        AFC Wimbledon   46    8   12   26   41   71   36      30
24    25              Walsall  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26             Rochdale  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27      Oldham Athletic  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28     Northampton Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29              MK Dons  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30                 Bury  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 123 seconds...
https://www.zerozero.pt/edition.php?id=98049

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1        Bradford City   46   30   10    6   92   47  100      30
1      2             Millwall   46   25   11   10   68   36   86      30
2      3             Millwall   46   24   10   12   80   54   82      30
3      4    Scunthorpe United   46   23   13   10   64   43   82      30
4      5        Bradford City   46   20   19    7   62   43   79      30
5      6       Fleetwood Town   46   20   13   13   66   57   73      30
6      7     Sheffield United   46   20   12   14   70   53   72      30
7      8     Bolton Wanderers   46   20    9   17   65   52   69      30
8      9    Scunthorpe United   46   19   12   15   71   62   69      30
9     10       Fleetwood Town   46   18   12   16   68   70   66      30
10    11        Bradford City   46   17   11   18   62   62   62      30
11    12             Millwall   46   16   13   17   60   58   61      30
12    13      Southend United   46   14   18   14   60   53   60      30
13    14        Oxford United   46   14   16   16   51   58   58      30
14    15             Rochdale   46   13   18   15   52   55   57      30
15    16       Bristol Rovers   46   14   11   21   60   73   53      30
16    17  Peterborough United   46   12   17   17   31   44   53      30
17    18              MK Dons   46   13   12   21   46   63   51      30
18    19    Charlton Athletic   46   13   11   22   61   73   50      30
19    20              Walsall   46   12   14   20   59   79   50      30
20    21        AFC Wimbledon   46   12   13   21   45   70   49      30
21    22     Northampton Town   46   11   11   24   44   66   44      30
22    23      Oldham Athletic   46    9   12   25   37   68   39      30
23    24      Shrewsbury Town   46    9   10   27   43   78   37      30
24    25                 Bury  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26           Gillingham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27            Port Vale  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28         Swindon Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29        Coventry City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30         Chesterfield  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 49 seconds...
https://www.zerozero.pt/edition.php?id=86791

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1             Barnsley   46   24   15    7   82   45   87      30
1      2             Millwall   46   25   10   11   57   37   85      30
2      3             Barnsley   46   24   12   10   71   49   84      30
3      4              Walsall   46   24    9   13   73   49   81      30
4      5        Bradford City   46   23   11   12   55   40   80      30
5      6             Millwall   46   22    8   16   70   54   74      30
6      7       Wigan Athletic   46   21   11   14   60   47   74      30
7      8        Burton Albion   46   19   12   15   67   49   69      30
8      9              Walsall   46   19   12   15   71   56   69      30
9     10             Millwall   46   19   12   15   68   61   69      30
10    11        Bradford City   46   18   12   16   64   59   66      30
11    12             Barnsley   46   18   11   17   56   58   65      30
12    13    Scunthorpe United   46   19    6   21   82   73   63      30
13    14        Coventry City   46   16   12   18   56   73   60      30
14    15           Gillingham   46   16   11   19   58   64   59      30
15    16             Rochdale   46   16   11   19   64   71   59      30
16    17     Sheffield United   46   12   18   16   44   58   54      30
17    18            Port Vale   46   15    8   23   58   70   53      30
18    19  Peterborough United   46   12   15   19   52   56   51      30
19    20                 Bury   46   13   11   22   58   79   50      30
20    21      Southend United   46   11   13   22   48   64   46      30
21    22         Swindon Town   46   12   10   24   40   63   46      30
22    23      Oldham Athletic   46    9   13   24   57   99   40      30
23    24         Chesterfield   46    7   13   26   46   83   34      30
24    25       Fleetwood Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26      Shrewsbury Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27     Doncaster Rovers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28            Blackpool  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29           Colchester  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30      Crewe Alexandra  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 27 seconds...
https://www.zerozero.pt/edition.php?id=69896

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1    Preston North End   46   29   12    5   96   38   99      30
1      2         Swindon Town   46   27   10    9  101   44   91      30
2      3     Sheffield United   46   25   14    7   79   40   89      30
3      4         Swindon Town   46   23   10   13   76   57   79      30
4      5         Chesterfield   46   19   14   13   66   53   71      30
5      6    Preston North End   46   19   12   15   68   55   69      30
6      7         Bristol City   46   17   14   15   55   55   65      30
7      8              MK Dons   46   19    6   21   72   66   63      30
8      9    Preston North End   46   18    9   19   53   56   63      30
9     10         Swindon Town   46   17   12   17   49   52   63      30
10    11     Sheffield United   46   17   11   18   62   61   62      30
11    12         Chesterfield   46   16   14   16   65   66   62      30
12    13        Bradford City   46   16   13   17   58   62   61      30
13    14             Rochdale   46   14   17   15   50   54   59      30
14    15  Peterborough United   46   14   15   17   54   67   57      30
15    16       Fleetwood Town   46   14   14   18   62   75   56      30
16    17             Barnsley   46   13   16   17   49   60   55      30
17    18           Gillingham   46   15    9   22   55   65   54      30
18    19     Doncaster Rovers   46   14   10   22   58   77   52      30
19    20              Walsall   46   14   10   22   43   75   52      30
20    21      Oldham Athletic   46   12   14   20   45   63   50      30
21    22    Scunthorpe United   46   13   11   22   53   79   50      30
22    23        Coventry City   46   12   13   21   59   69   49      30
23    24            Port Vale   46   10   10   26   36   75   40      30
24    25           Colchester  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26      Crewe Alexandra  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27         Notts County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28         Crawley Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29        Leyton Orient  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30          Yeovil Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 114 seconds...
https://www.zerozero.pt/edition.php?id=58448

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1        Leyton Orient   46   31   10    5   89   31  103      30
1      2            Rotherham   46   28   10    8   72   43   94      30
2      3  Peterborough United   46   25   11   10   85   45   86      30
3      4        Leyton Orient   46   24   14    8   86   58   86      30
4      5    Preston North End   46   23   16    7   72   46   85      30
5      6            Rotherham   46   23    5   18   72   58   74      30
6      7        Wolverhampton   46   18   13   15   48   46   67      30
7      8            Brentford   46   19    9   18   63   59   66      30
8      9        Leyton Orient   46   18    7   21   59   73   61      30
9     10            Rotherham   46   17    9   20   63   65   60      30
10    11    Preston North End   46   14   17   15   57   54   59      30
11    12  Peterborough United   46   13   19   14   70   67   58      30
12    13     Sheffield United   46   14   16   16   49   49   58      30
13    14         Swindon Town   46   14   15   17   48   54   57      30
14    15            Port Vale   46   14   14   18   50   59   56      30
15    16              MK Dons   46   13   14   19   53   61   53      30
16    17        Bradford City   46   15    8   23   60   79   53      30
17    18         Bristol City   46   16   13   17   74   77   51      30
18    19              Walsall   46   13   12   21   54   80   51      30
19    20         Crawley Town   46   15    5   26   64   77   50      30
20    21      Oldham Athletic   46   12   11   23   52   79   47      30
21    22           Colchester   46   11   12   23   43   76   45      30
22    23           Gillingham   46    9   15   22   44   65   42      30
23    24        Coventry City   46   11    9   26   46   72   42      30
24    25      Crewe Alexandra  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26         Notts County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27      Tranmere Rovers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28      Carlisle United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29      Shrewsbury Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30            Stevenage  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 47 seconds...
https://www.zerozero.pt/edition.php?id=48648

    rank          team_name   GP    W    D    L   GF   GA    P  team_n
0      1          Brentford   46   25    9   12   62   44   84      30
1      2        Yeovil Town   46   24   11   11   76   53   83      30
2      3   Sheffield United   46   21   16    9   62   47   79      30
3      4        Yeovil Town   46   23    8   15   71   56   77      30
4      5       Swindon Town   46   19   18    9   56   42   75      30
5      6          Brentford   46   20   14   12   72   39   74      30
6      7   Doncaster Rovers   46   21    8   17   55   48   71      30
7      8    AFC Bournemouth   46   19   13   14   62   45   70      30
8      9          Brentford   46   17   17   12   65   58   68      30
9     10        Yeovil Town   46   18   14   14   59   58   68      30
10    11   Sheffield United   46   19   10   17   58   48   67      30
11    12       Swindon Town   46   16   17   13   61   49   65      30
12    13      Leyton Orient   46   18   10   18   54   62   64      30
13    14            MK Dons   46   14   17   15   54   49   59      30
14    15            Walsall   46   18   11   17   66   59   55      30
15    16       Crawley Town   46   13   16   17   54   60   55      30
16    17    Tranmere Rovers   46   14   13   19   56   77   55      30
17    18       Notts County   46   15    9   22   47   64   54      30
18    19    Crewe Alexandra   46   14    9   23   46   59   51      30
19    20  Preston North End   46   14    9   23   47   68   51      30
20    21      Coventry City   46   13    9   24   49   73   48      30
21    22    Shrewsbury Town   46    9   14   23   45   73   41      30
22    23    Carlisle United   46    9   14   23   39   67   41      30
23    24          Stevenage   46   10   12   24   51   69   32      30
24    25    Oldham Athletic  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26         Colchester  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27  Scunthorpe United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28               Bury  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29  Hartlepool United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30         Portsmouth  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 124 seconds...
https://www.zerozero.pt/edition.php?id=22754

    rank          team_name   GP    W    D    L   GF   GA    P  team_n
0      1  Huddersfield Town   46   30   11    5   82   36  101      30
1      2   Sheffield United   46   28    9    9   81   48   93      30
2      3          Stevenage   46   27    9   10   92   51   90      30
3      4   Sheffield United   46   21   18    7   79   47   81      30
4      5            MK Dons   46   22   14   10   84   47   80      30
5      6  Huddersfield Town   46   18   19    9   69   44   73      30
6      7  Charlton Athletic   46   21   10   15   75   63   73      30
7      8     Sheffield Wed.   46   18   15   13   65   66   69      30
8      9   Sheffield United   46   18   13   15   63   52   67      30
9     10  Huddersfield Town   46   15   13   18   48   52   58      30
10    11            MK Dons   45   13   19   13   60   65   58      30
11    12          Stevenage   46   14   14   18   49   53   56      30
12    13       Notts County   46   14   14   18   50   55   56      30
13    14    Carlisle United   46   15   11   20   60   79   56      30
14    15          Brentford   46   13   15   18   54   68   54      30
15    16    AFC Bournemouth   46   14   12   20   59   80   54      30
16    17         Colchester   45   14   11   20   49   65   53      30
17    18    Tranmere Rovers   46   10   22   14   55   59   52      30
18    19  Hartlepool United   46   10   20   16   51   57   50      30
19    20               Bury   46   13   11   22   48   75   50      30
20    21  Preston North End   46   11   10   25   65   88   43      30
21    22        Yeovil Town   46   10   12   24   56   81   42      30
22    23    Oldham Athletic   46   10   12   24   46   75   42      30
23    24  Scunthorpe United   46    8   14   24   47   81   38      30
24    25            Walsall  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26      Leyton Orient  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27  Wycombe Wanderers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28       Chesterfield  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29        Exeter City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30           Rochdale  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 111 seconds...
https://www.zerozero.pt/edition.php?id=15224

    rank               team_name   GP    W    D    L   GF   GA    P  team_n
0      1       Huddersfield Town   46   28   11    7   85   40   95      30
1      2     Peterborough United   46   28    8   10   86   38   92      30
2      3         AFC Bournemouth   46   25   12    9   77   48   87      30
3      4       Huddersfield Town   46   23   10   13  106   75   79      30
4      5                 MK Dons   46   23    8   15   67   60   77      30
5      6     Peterborough United   46   19   14   13   75   54   71      30
6      7  Brighton & Hove Albion   46   19   13   14   71   62   70      30
7      8             Southampton   46   20   10   16   66   73   70      30
8      9       Huddersfield Town   46   18   14   14   63   55   68      30
9     10     Peterborough United   46   16   14   16   57   63   62      30
10    11                 MK Dons   46   17   10   19   55   62   61      30
11    12         AFC Bournemouth   46   16   11   19   60   62   59      30
12    13           Leyton Orient   46   15   14   17   62   66   59      30
13    14             Exeter City   46   16   11   19   56   66   59      30
14    15                Rochdale   46   16   10   20   67   67   58      30
15    16              Colchester   46   15   12   19   47   65   57      30
16    17               Brentford   46   15   11   20   53   60   56      30
17    18         Carlisle United   46   13   17   16   53   60   56      30
18    19       Charlton Athletic   46   14    8   24   46   60   50      30
19    20             Yeovil Town   46   12   12   22   56   75   48      30
20    21          Sheffield Wed.   46   12   11   23   52   70   47      30
21    22       Hartlepool United   46   11   12   23   48   82   45      30
22    23         Tranmere Rovers   46   15    7   24   51   74   42      30
23    24         Oldham Athletic   46    9   14   23   50   72   41      30
24    25           Notts County   NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26                 Walsall  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27             Dag and Red  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28          Bristol Rovers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29         Plymouth Argyle  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30            Swindon Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 27 seconds...
https://www.zerozero.pt/edition.php?id=8573

    rank               team_name   GP    W    D    L   GF   GA    P  team_n
0      1                Millwall   46   29    8    9   89   47   95      30
1      2            Swindon Town   46   25   11   10   77   44   86      30
2      3       Huddersfield Town   46   24   13    9   76   44   85      30
3      4                Millwall   46   23   15    8   71   48   84      30
4      5            Swindon Town   46   22   16    8   73   57   82      30
5      6       Charlton Athletic   46   23   11   12   82   56   80      30
6      7            Norwich City   46   23   14    9   85   47   73      30
7      8            Leeds United   46   20   12   14   64   52   72      30
8      9                Millwall   46   14   20   12   55   52   62      30
9     10       Charlton Athletic   46   16   14   16   60   63   62      30
10    11            Swindon Town   46   19    5   22   59   70   62      30
11    12       Huddersfield Town   46   17    9   20   60   68   60      30
12    13             Southampton   46   15   14   17   56   60   59      30
13    14              Colchester   46   15   13   18   63   66   58      30
14    15               Brentford   46   13   14   19   55   59   53      30
15    16                 Walsall   46   13   13   20   39   57   52      30
16    17          Bristol Rovers   46   13   12   21   53   63   51      30
17    18                 MK Dons   46   11   18   17   48   60   51      30
18    19  Brighton & Hove Albion   46   14    9   23   45   72   51      30
19    20         Carlisle United   46   14   11   21   59   67   50      30
20    21             Yeovil Town   46   12   14   20   48   64   50      30
21    22         Oldham Athletic   46   10   15   21   56   76   45      30
22    23           Leyton Orient   46   10   13   23   51   72   43      30
23    24             Exeter City   46    5   10   31   35   95   25      30
24    25         Tranmere Rovers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26       Hartlepool United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27              Gillingham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28       Wycombe Wanderers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29         Southend United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30        Stockport County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 140 seconds...
https://www.zerozero.pt/edition.php?id=2260

    rank                team_name   GP    W    D    L   GF   GA    P  team_n
0      1                 Millwall   46   27   15    4   84   39   96      30
1      2        Scunthorpe United   46   26   11    9   78   54   89      30
2      3        Scunthorpe United   46   26    9   11   83   47   87      30
3      4                  MK Dons   46   26    6   14   77   49   84      30
4      5                 Millwall   46   25    7   14   63   53   82      30
5      6             Leeds United   46   22   10   14   82   63   76      30
6      7           Leicester City   46   21   11   14   62   49   74      30
7      8      Peterborough United   46   21    8   17   58   61   71      30
8      9                 MK Dons    46   18   14   14   62   65   68      30
9     10            Leeds United    46   16   17   13   66   65   65      30
10    11                Millwall    46   18    9   19   58   58   63      30
11    12        Scunthorpe United   45   17   11   17   78   60   62      30
12    13         Tranmere Rovers    46   17   10   19   61   66   61      30
13    14          Southend United   46   16   12   18   59   57   60      30
14    15       Huddersfield Town    46   15   11   20   45   57   56      30
15    16         Oldham Athletic    46   12   17   17   68   71   53      30
16    17              Colchester    46   13   13   20   55   70   52      30
17    18          Bristol Rovers    46   12   15   19   41   66   51      30
18    19                 Walsall    46   13   11   22   66   79   50      30
19    20        Stockport County    46   12   14   20   56   69   50      30
20    21           Leyton Orient    46   12   13   21   61   65   49      30
21    22            Swindon Town    45   12    9   24   58   81   45      30
22    23  Brighton & Hove Albion    46    9   12   25   51   91   39      30
23    24             Yeovil Town    46    9    7   30   42   79   34      30
24    25        Hartlepool United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26          Carlisle United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27         Northampton Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28         Crewe Alexandra   NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29          Cheltenham Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30                Hereford   NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 116 seconds...
https://www.zerozero.pt/edition.php?id=1485

    rank               team_name   GP    W    D    L   GF   GA    P  team_n
0      1        Doncaster Rovers   46   27   11    8   82   42   92      30
1      2            Leeds United   46   22   16    8   64   32   82      30
2      3         Southend United   46   23   11   12   65   41   80      30
3      4        Doncaster Rovers   46   23   11   12   64   46   80      30
4      5            Leeds United   46   27   10    9   72   38   76      30
5      6         Carlisle United   46   22   10   14   70   55   76      30
6      7            Swansea City   46   19   12   15   58   50   69      30
7      8       Nottingham Forest   46   18   13   15   58   46   67      30
8      9        Doncaster Rovers   46   17   15   14   60   55   66      30
9     10         Carlisle United   46   20    6   20   50   62   66      30
10    11            Leeds United   46   18   11   17   52   47   65      30
11    12         Southend United   46   16   16   14   52   46   64      30
12    13  Brighton & Hove Albion   46   16   13   17   63   56   61      30
13    14         Oldham Athletic   46   16   12   18   49   63   60      30
14    15        Northampton Town   46   17    7   22   62   72   58      30
15    16       Huddersfield Town   46   15    9   22   63   66   54      30
16    17         Tranmere Rovers   46   12   17   17   45   53   53      30
17    18                 Walsall   46   14   10   22   45   60   52      30
18    19            Swindon Town   46   14   10   22   38   59   52      30
19    20           Leyton Orient   46   13   12   21   42   64   51      30
20    21         AFC Bournemouth   46   12   14   20   47   65   50      30
21    22       Hartlepool United   46   11   13   22   44   73   46      30
22    23          Bristol Rovers   46   11   10   25   43   63   43      30
23    24                Millwall   46    9   11   26   47   81   38      30
24    25             Yeovil Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26         Cheltenham Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27         Crewe Alexandra  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28              Gillingham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29              Luton Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30               Port Vale  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 187 seconds...
https://www.zerozero.pt/edition.php?id=76979

    rank               team_name   GP    W    D    L   GF   GA    P  team_n
0      1             Yeovil Town   46   26   13    7   73   35   91      30
1      2               Blackpool   46   25   10   11   63   39   85      30
2      3             Yeovil Town   46   24   11   11   76   49   83      30
3      4       Nottingham Forest   46   23   13   10   65   41   82      30
4      5         Oldham Athletic   46   23   10   13   55   39   79      30
5      6               Blackpool   46   21   12   13   69   47   75      30
6      7       Scunthorpe United   46   20   12   14   69   53   72      30
7      8            Bristol City   46   19   11   16   54   55   68      30
8      9               Blackpool   46   18   13   15   58   53   67      30
9     10       Nottingham Forest   46   19    9   18   59   62   66      30
10    11             Yeovil Town   46   16   15   15   52   47   63      30
11    12         Oldham Athletic   46   18    6   22   64   65   60      30
12    13            Swansea City   46   17    9   20   66   72   60      30
13    14         Carlisle United   46   15   14   17   48   51   59      30
14    15         Tranmere Rovers   46   14   17   15   60   69   59      30
15    16                Millwall   46   17    8   21   56   77   59      30
16    17        Doncaster Rovers   46   15    9   22   49   61   54      30
17    18               Port Vale   46   14   11   21   49   58   53      30
18    19         Crewe Alexandra   46   13   13   20   50   64   52      30
19    20        Northampton Town   46   12   15   19   61   77   51      30
20    21       Huddersfield Town   46   13    9   24   58   75   48      30
21    22              Gillingham   46   12   11   23   45   53   47      30
22    23         Cheltenham Town   46   11   14   21   47   65   47      30
23    24  Brighton & Hove Albion   46    8   13   25   40   79   37      30
24    25         AFC Bournemouth  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26           Leyton Orient  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27               Rotherham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28            Chesterfield  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29           Bradford City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30               Brentford  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 141 seconds...
https://www.zerozero.pt/edition.php?id=76980

    rank          team_name   GP    W    D    L   GF   GA    P  team_n
0      1       Swansea City   46   23   13   10   72   43   82      30
1      2           Barnsley   46   22   13   11   58   40   79      30
2      3       Swansea City   46   20   16   10   72   52   76      30
3      4          Brentford   46   19   16   11   72   59   73      30
4      5           Barnsley   46   18   18   10   62   44   72      30
5      6  Huddersfield Town   46   18   17   11   78   55   71      30
6      7    Southend United   46   19   12   15   67   52   69      30
7      8         Colchester   46   20    9   17   55   51   69      30
8      9          Brentford   46   18   11   17   66   62   65      30
9     10  Huddersfield Town   46   18   11   17   58   60   65      30
10    11           Barnsley   46   14   19   13   51   49   61      30
11    12       Swansea City   46   15   15   16   68   73   60      30
12    13  Nottingham Forest   46   16   12   18   49   54   60      30
13    14   Doncaster Rovers   46   16   12   18   50   64   60      30
14    15       Bristol City   46   15   11   20   54   62   56      30
15    16    Oldham Athletic   46   14   14   18   63   73   56      30
16    17      Bradford City   46   12   19   15   49   53   55      30
17    18  Scunthorpe United   46   13   15   18   50   52   54      30
18    19          Port Vale   46   12   17   17   56   64   53      30
19    20         Gillingham   46   12   16   18   52   62   52      30
20    21        Yeovil Town   46   11   17   18   44   59   50      30
21    22       Chesterfield   46   12   14   20   45   66   50      30
22    23    AFC Bournemouth   46   11   15   20   46   65   48      30
23    24    Tranmere Rovers   46   11   14   21   47   70   47      30
24    25          Blackpool  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26          Rotherham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27  Hartlepool United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28            MK Dons  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29       Swindon Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30            Walsall  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 96 seconds...
https://www.zerozero.pt/edition.php?id=76981

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1    Hartlepool United   46   29   11    6   87   48   98      30
1      2       Sheffield Wed.   46   26    8   12   80   53   86      30
2      3       Sheffield Wed.   46   22   13   11   73   55   79      30
3      4            Brentford   46   22    9   15   57   60   75      30
4      5    Hartlepool United   46   19   15   12   77   59   72      30
5      6      Tranmere Rovers   46   21    8   17   76   66   71      30
6      7           Luton Town   46   18   16   12   74   57   70      30
7      8            Hull City   46   20   10   16   77   64   70      30
8      9      Tranmere Rovers   46   20   10   16   74   65   70      30
9     10            Brentford   46   16   18   12   65   60   66      30
10    11       Sheffield Wed.   46   17   14   15   64   62   65      30
11    12    Hartlepool United   46   17   12   17   66   68   63      30
12    13         Bristol City   46   14   19   13   69   64   61      30
13    14      AFC Bournemouth   46   16   12   18   65   69   60      30
14    15    Huddersfield Town   46   14   17   15   60   50   59      30
15    16     Doncaster Rovers   46   15   12   19   54   59   57      30
16    17        Bradford City   46   14   15   17   55   62   57      30
17    18         Swindon Town   46   17    5   24   49   59   56      30
18    19             Barnsley   46   14   10   22   60   73   52      30
19    20              Walsall   46   12   15   19   54   68   51      30
20    21           Colchester   46   12   15   19   55   79   51      30
21    22            Blackpool   46   13   14   19   62   80   43      30
22    23         Chesterfield   46    9   12   25   49   73   39      30
23    24            Port Vale   46    6    8   32   49   98   26      30
24    25      Oldham Athletic  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26              MK Dons  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27       Torquay United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28              Wrexham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29  Peterborough United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30     Stockport County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 102 seconds...
https://www.zerozero.pt/edition.php?id=76984

    rank               team_name   GP    W    D    L   GF   GA    P  team_n
0      1  Brighton & Hove Albion   46   26   12    8   85   41   90      30
1      2            Bristol City   46   22   17    7   80   45   83      30
2      3       Hartlepool United   46   23   13   10   58   37   82      30
3      4            Bristol City   46   22   11   13   64   43   77      30
4      5            Swindon Town   46   20   13   13   76   58   73      30
5      6  Brighton & Hove Albion   46   20   13   13   76   61   73      30
6      7         Plymouth Argyle   46   21   10   15   73   63   73      30
7      8                     QPR   46   17   16   13   59   56   67      30
8      9            Bristol City   46   17   15   14   56   51   66      30
9     10  Brighton & Hove Albion   46   17   15   14   69   66   66      30
10    11            Swindon Town   46   17   13   16   52   56   64      30
11    12       Hartlepool United   46   15   17   14   54   58   62      30
12    13               Port Vale   46   17    9   20   50   60   60      30
13    14         Tranmere Rovers   46   16   11   19   58   65   59      30
14    15         AFC Bournemouth   46   12   21   13   66   60   57      30
15    16              Luton Town   46   13   14   19   48   64   53      30
16    17              Colchester   46   14   11   21   52   69   53      30
17    18                Barnsley   46   12   16   18   58   58   52      30
18    19                 Wrexham   46   11   19   16   62   70   52      30
19    20               Blackpool   46   12   15   19   49   71   51      30
20    21         Oldham Athletic   46   13   11   22   55   81   50      30
21    22          Sheffield Wed.   46   13    9   24   60   74   48      30
22    23               Brentford   46   10   12   24   50   78   42      30
23    24     Peterborough United   46    6   19   21   50   75   37      30
24    25        Stockport County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26            Chesterfield  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27            Grimsby Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28                 Rushden  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29            Notts County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30       Wycombe Wanderers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 50 seconds...
https://www.zerozero.pt/edition.php?id=77068

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1         Cardiff City   46   29   13    4   68   25  100      30
1      2                  QPR   46   25   11   10   76   40   86      30
2      3      Oldham Athletic   46   24   11   11   79   48   83      30
3      4                  QPR   46   24   11   11   69   45   83      30
4      5         Cardiff City   46   22   16    8   68   38   82      30
5      6         Bristol City   46   23   12   11   68   43   81      30
6      7       Wigan Athletic   46   23   11   12   66   57   80      30
7      8      Crewe Alexandra   46   17   14   15   63   52   65      30
8      9         Bristol City   46   17   14   15   67   62   65      30
9     10                  QPR   46   16   12   18   59   63   60      30
10    11      Oldham Athletic   46   14   16   16   51   54   58      30
11    12         Cardiff City   46   14   16   16   52   56   58      30
12    13      Tranmere Rovers   46   15   13   18   56   64   58      30
13    14      Plymouth Argyle   46   15   10   21   65   70   55      30
14    15           Luton Town   46   13   16   17   62   70   55      30
15    16         Swindon Town   46   14   12   20   47   56   54      30
16    17  Peterborough United   46   14   11   21   54   70   53      30
17    18           Colchester   46   13   13   20   59   66   52      30
18    19            Blackpool   46   13   13   20   51   64   52      30
19    20     Stockport County   46   14    8   24   43   73   50      30
20    21         Notts County   46   10   18   18   53   68   48      30
21    22            Brentford   46   11   12   23   39   61   45      30
22    23            Port Vale   46   12    8   26   66   97   44      30
23    24    Wycombe Wanderers   46   10    9   27   40   79   39      30
24    25             Barnsley  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26         Chesterfield  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27      Cheltenham Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28    Huddersfield Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29       Mansfield Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30     Northampton Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 49 seconds...
https://www.zerozero.pt/edition.php?id=77071

    rank               team_name   GP    W    D    L   GF   GA    P  team_n
0      1               Brentford   46   25   15    6   66   42   90      30
1      2              Stoke City   46   23   15    8   70   43   84      30
2      3              Stoke City   46   24   11   11   77   43   83      30
3      4            Cardiff City   46   23   14    9   75   50   83      30
4      5       Huddersfield Town   46   23   11   12   67   40   80      30
5      6               Brentford   46   21   15   10   65   47   78      30
6      7  Brighton & Hove Albion   46   21   10   15   68   53   73      30
7      8                 Reading   46   19   14   13   60   49   71      30
8      9               Brentford   46   18   16   12   77   65   70      30
9     10            Cardiff City   46   16   16   14   66   51   64      30
10    11              Stoke City   46   17   13   16   58   64   64      30
11    12       Huddersfield Town   46   16   15   15   63   60   63      30
12    13            Bristol City   46   15   14   17   46   56   59      30
13    14                     QPR   46   16   10   20   51   62   58      30
14    15         Oldham Athletic   46   15   12   19   65   76   57      30
15    16          Wigan Athletic   46   14   14   18   66   69   56      30
16    17       Wycombe Wanderers   46   15   10   21   64   59   55      30
17    18         Tranmere Rovers   46   13   13   20   53   65   52      30
18    19            Swindon Town   46   13   11   22   59   71   50      30
19    20               Port Vale   46   14    7   25   54   79   49      30
20    21              Colchester   46   10   14   22   56   71   44      30
21    22               Blackpool   46   11   11   24   43   75   44      30
22    23     Peterborough United   46   11   10   25   56   89   43      30
23    24            Chesterfield   46    7   13   26   47   93   34      30
24    25            Notts County  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26        Northampton Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27         AFC Bournemouth  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28                    Bury  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29                 Wrexham  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30        Cambridge United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 195 seconds...
https://www.zerozero.pt/edition.php?id=32712

    rank            team_name   GP    W    D    L   GF   GA    P  team_n
0      1              Reading   46   28    9    9   89   38   93      30
1      2              Walsall   46   27   10    9   79   55   91      30
2      3       Wigan Athletic   46   25   11   10   86   52   86      30
3      4              Reading   46   23   12   11   79   50   81      30
4      5           Stoke City   46   21   14   11   74   49   77      30
5      6              Walsall   46   19   18    9   53   42   75      30
6      7             Millwall   46   20   13   13   79   55   73      30
7      8            Rotherham   46   19   12   15   62   66   69      30
8      9              Reading   46   18   14   14   70   56   68      30
9     10              Walsall   46   17   12   17   65   71   63      30
10    11           Stoke City   46   16   14   16   55   49   62      30
11    12       Wigan Athletic   46   15   14   17   61   66   59      30
12    13      AFC Bournemouth   46   15   14   17   46   53   59      30
13    14         Notts County   46   14   17   15   56   70   59      30
14    15         Bristol City   46   15   13   18   53   65   58      30
15    16              Wrexham   46   16   10   20   45   59   58      30
16    17            Port Vale   46   15   12   19   55   59   57      30
17    18  Peterborough United   46   15   12   19   46   59   57      30
18    19    Wycombe Wanderers   46   14   11   21   61   77   53      30
19    20            Brentford   46   13   13   20   47   65   52      30
20    21      Oldham Athletic   46   12   15   19   53   57   51      30
21    22                 Bury   46    9   13   24   52   80   40      30
22    23           Colchester   46    8   13   25   47   73   37      30
23    24     Northampton Town   46    7    6   33   53  100   27      30
24    25     Cambridge United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26         Swindon Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27       Bristol Rovers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28           Luton Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29         Swansea City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30        Oxford United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 124 seconds...
https://www.zerozero.pt/edition.php?id=32762

    rank          team_name   GP    W    D    L   GF   GA    P  team_n
0      1     Wigan Athletic   46   28   11    7   74   37   95      30
1      2         Gillingham   46   25   13    8   69   47   88      30
2      3         Stoke City   46   25   10   11   79   48   85      30
3      4         Gillingham   46   22   17    7   72   38   83      30
4      5           Millwall   46   23   13   10   76   50   82      30
5      6     Wigan Athletic   46   23   13   10   68   42   82      30
6      7  Preston North End   46   23   11   12   69   45   80      30
7      8            Burnley   46   18   11   17   61   55   65      30
8      9         Gillingham   46   15   19   12   59   57   64      30
9     10     Wigan Athletic   46   16   14   16   57   63   62      30
10    11           Millwall   46   17   11   18   52   61   62      30
11    12         Stoke City   46   16   13   17   56   53   61      30
12    13     Bristol Rovers   46   17   10   19   61   65   61      30
13    14       Notts County   46   16   12   18   50   55   60      30
14    15       Bristol City   46   13   18   15   61   64   57      30
15    16            Reading   46   16    9   21   59   62   57      30
16    17            Wrexham   46   13   13   20   47   61   52      30
17    18  Wycombe Wanderers   46   14   10   22   59   82   52      30
18    19         Luton Town   46   12   12   22   64   65   48      30
19    20    Oldham Athletic   46   12    9   25   43   73   45      30
20    21               Bury   46    9   17   20   45   67   44      30
21    22    AFC Bournemouth   46    8   17   21   49   77   41      30
22    23          Brentford   46    9   12   25   40   74   39      30
23    24         Colchester   46    7   15   24   34   63   36      30
24    25   Cambridge United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26      Oxford United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27       Cardiff City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28          Blackpool  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29  Scunthorpe United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30       Chesterfield  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 99 seconds...
https://www.zerozero.pt/edition.php?id=125508

    rank        team_name  GP   W   D   L  GF  GA   P  team_n
0      1        Barcelona  38  26   9   3  90  36  87      20
1      2  Atlético Madrid  38  22  10   6  55  29  76      20
2      3      Real Madrid  38  21   5  12  63  46  68      20
3      4         Valencia  38  15  16   7  51  35  61      20
4      5           Getafe  38  15  14   9  48  35  59      20
5      6          Sevilla  38  17   8  13  62  47  59      20
6      7         Espanyol  38  14  11  13  48  50  53      20
7      8         Athletic  38  13  14  11  41  45  53      20
8      9    Real Sociedad  38  13  11  14  45  46  50      20
9     10       Real Betis  38  14   8  16  44  52  50      20
10    11           Alavés  38  13  11  14  39  50  50      20
11    12            Eibar  38  11  14  13  46  50  47      20
12    13          Leganés  38  11  12  15  37  43  45      20
13    14       Villarreal  38  10  14  14  49  52  44      20
14    15          Levante  38  11  11  16  59  66  44      20
15    16       Valladolid  38  10  11  17  32  51  41      20
16    17    Celta de Vigo  38  10  11  17  53  62  41      20
17    18           Girona  38   9  10  19  37  53  37      20
18    19           Huesca  38   7  12  19  43  65  33      20
19    20   Rayo Vallecano  38   8   8  22  41  70  32      20

Delaying for 123 seconds...
https://www.zerozero.pt/edition.php?id=111542

    rank        team_name  GP   W   D   L  GF  GA   P  team_n
0      1        Barcelona  38  28   9   1  99  29  93      20
1      2  Atlético Madrid  38  23  10   5  58  22  79      20
2      3      Real Madrid  38  22  10   6  94  44  76      20
3      4         Valencia  38  22   7   9  65  38  73      20
4      5       Villarreal  38  18   7  13  57  50  61      20
5      6       Real Betis  38  18   6  14  60  61  60      20
6      7          Sevilla  38  17   7  14  49  58  58      20
7      8           Getafe  38  15  10  13  42  33  55      20
8      9            Eibar  38  14   9  15  44  50  51      20
9     10           Girona  38  14   9  15  50  59  51      20
10    11         Espanyol  38  12  13  13  36  42  49      20
11    12    Real Sociedad  38  14   7  17  66  59  49      20
12    13    Celta de Vigo  38  13  10  15  59  60  49      20
13    14           Alavés  38  15   2  21  40  50  47      20
14    15          Levante  38  11  13  14  44  58  46      20
15    16         Athletic  38  10  13  15  41  49  43      20
16    17          Leganés  38  12   7  19  34  51  43      20
17    18        Deportivo  38   6  11  21  38  76  29      20
18    19       Las Palmas  38   5   7  26  24  74  22      20
19    20           Málaga  38   5   5  28  24  61  20      20

Delaying for 52 seconds...
https://www.zerozero.pt/edition.php?id=98390

    rank        team_name  GP   W   D   L   GF  GA   P  team_n
0      1      Real Madrid  38  29   6   3  106  41  93      20
1      2        Barcelona  38  28   6   4  116  37  90      20
2      3  Atlético Madrid  38  23   9   6   70  27  78      20
3      4          Sevilla  38  21   9   8   69  49  72      20
4      5       Villarreal  38  19  10   9   56  33  67      20
5      6    Real Sociedad  38  19   7  12   59  53  64      20
6      7         Athletic  38  19   6  13   53  43  63      20
7      8         Espanyol  38  15  11  12   49  50  56      20
8      9           Alavés  38  14  13  11   41  43  55      20
9     10            Eibar  38  15   9  14   56  51  54      20
10    11           Málaga  38  12  10  16   49  55  46      20
11    12         Valencia  38  13   7  18   56  65  46      20
12    13    Celta de Vigo  38  13   6  19   53  69  45      20
13    14       Las Palmas  38  10   9  19   53  74  39      20
14    15       Real Betis  38  10   9  19   41  64  39      20
15    16        Deportivo  38   8  12  18   43  61  36      20
16    17          Leganés  38   8  11  19   36  55  35      20
17    18   Sporting Gijón  38   7  10  21   42  72  31      20
18    19          Osasuna  38   4  10  24   40  94  22      20
19    20          Granada  38   4   8  26   30  82  20      20

Delaying for 46 seconds...
https://www.zerozero.pt/edition.php?id=87618

    rank        team_name  GP   W   D   L   GF  GA   P  team_n
0      1        Barcelona  38  29   4   5  112  29  91      20
1      2      Real Madrid  38  28   6   4  110  34  90      20
2      3  Atlético Madrid  38  28   4   6   63  18  88      20
3      4       Villarreal  38  18  10  10   44  35  64      20
4      5         Athletic  38  18   8  12   58  45  62      20
5      6    Celta de Vigo  38  17   9  12   51  59  60      20
6      7          Sevilla  38  14  10  14   51  50  52      20
7      8           Málaga  38  12  12  14   38  35  48      20
8      9    Real Sociedad  38  13   9  16   45  48  48      20
9     10       Real Betis  38  11  12  15   34  52  45      20
10    11       Las Palmas  38  12   8  18   45  53  44      20
11    12         Valencia  38  11  11  16   46  48  44      20
12    13         Espanyol  38  12   7  19   40  74  43      20
13    14            Eibar  38  11  10  17   49  61  43      20
14    15        Deportivo  38   8  18  12   45  61  42      20
15    16          Granada  38  10   9  19   46  69  39      20
16    17   Sporting Gijón  38  10   9  19   40  62  39      20
17    18   Rayo Vallecano  38   9  11  18   52  73  38      20
18    19           Getafe  38   9   9  20   37  67  36      20
19    20          Levante  38   8   8  22   37  70  32      20

Delaying for 138 seconds...
https://www.zerozero.pt/edition.php?id=70398

    rank        team_name  GP   W   D   L   GF  GA   P  team_n
0      1        Barcelona  38  30   4   4  110  21  94      20
1      2      Real Madrid  38  30   2   6  118  38  92      20
2      3  Atlético Madrid  38  23   9   6   67  29  78      20
3      4         Valencia  38  22  11   5   70  32  77      20
4      5          Sevilla  38  23   7   8   71  45  76      20
5      6       Villarreal  38  16  12  10   48  37  60      20
6      7         Athletic  38  15  10  13   42  41  55      20
7      8    Celta de Vigo  38  13  12  13   47  44  51      20
8      9           Málaga  38  14   8  16   42  48  50      20
9     10         Espanyol  38  13  10  15   47  51  49      20
10    11   Rayo Vallecano  38  15   4  19   46  68  49      20
11    12    Real Sociedad  38  11  13  14   44  51  46      20
12    13            Elche  38  11   8  19   35  62  41      20
13    14          Levante  38   9  10  19   34  67  37      20
14    15           Getafe  38  10   7  21   33  64  37      20
15    16        Deportivo  38   7  14  17   35  60  35      20
16    17          Granada  38   7  14  17   29  64  35      20
17    18            Eibar  38   9   8  21   34  55  35      20
18    19          Almería  38   8   8  22   35  64  32      20
19    20          Córdoba  38   3  11  24   22  68  20      20

Delaying for 41 seconds...
https://www.zerozero.pt/edition.php?id=58896

    rank        team_name  GP   W   D   L   GF  GA   P  team_n
0      1  Atlético Madrid  38  28   6   4   77  26  90      20
1      2        Barcelona  38  27   6   5  100  33  87      20
2      3      Real Madrid  38  27   6   5  104  38  87      20
3      4         Athletic  38  20  10   8   66  39  70      20
4      5          Sevilla  38  18   9  11   69  52  63      20
5      6       Villarreal  38  17   8  13   60  44  59      20
6      7    Real Sociedad  38  16  11  11   62  55  59      20
7      8         Valencia  38  13  10  15   51  53  49      20
8      9    Celta de Vigo  38  14   7  17   49  54  49      20
9     10          Levante  38  12  12  14   35  43  48      20
10    11           Málaga  38  12   9  17   39  46  45      20
11    12   Rayo Vallecano  38  13   4  21   46  80  43      20
12    13           Getafe  38  11   9  18   35  54  42      20
13    14         Espanyol  38  11   9  18   41  51  42      20
14    15          Granada  38  12   5  21   32  56  41      20
15    16            Elche  38   9  13  16   30  50  40      20
16    17          Almería  38  11   7  20   43  71  40      20
17    18          Osasuna  38  10   9  19   32  62  39      20
18    19       Valladolid  38   7  15  16   38  60  36      20
19    20       Real Betis  38   6   7  25   36  78  25      20

Delaying for 39 seconds...
https://www.zerozero.pt/edition.php?id=47536

    rank        team_name  GP   W   D   L   GF  GA    P  team_n
0      1        Barcelona  38  32   4   2  115  40  100      20
1      2      Real Madrid  38  26   7   5  103  42   85      20
2      3  Atlético Madrid  38  23   7   8   65  31   76      20
3      4    Real Sociedad  38  18  12   8   70  49   66      20
4      5         Valencia  38  19   8  11   67  54   65      20
5      6           Málaga  38  16   9  13   53  50   57      20
6      7       Real Betis  38  16   8  14   57  56   56      20
7      8   Rayo Vallecano  38  16   5  17   50  66   53      20
8      9          Sevilla  38  14   8  16   58  54   50      20
9     10           Getafe  38  13   8  17   43  57   47      20
10    11          Levante  38  12  10  16   40  57   46      20
11    12         Athletic  38  12   9  17   44  65   45      20
12    13         Espanyol  38  11  11  16   43  52   44      20
13    14       Valladolid  38  11  10  17   49  58   43      20
14    15          Granada  38  11   9  18   37  54   42      20
15    16          Osasuna  38  10   9  19   33  50   39      20
16    17    Celta de Vigo  38  10   7  21   37  52   37      20
17    18         Mallorca  38   9   9  20   43  72   36      20
18    19        Deportivo  38   8  11  19   47  70   35      20
19    20    Real Zaragoza  38   9   7  22   37  62   34      20

Delaying for 181 seconds...
https://www.zerozero.pt/edition.php?id=23148

    rank         team_name  GP   W   D   L   GF  GA    P  team_n
0      1       Real Madrid  38  32   4   2  121  32  100      20
1      2         Barcelona  38  28   7   3  114  29   91      20
2      3          Valencia  38  17  10  11   59  44   61      20
3      4            Málaga  38  17   7  14   54  53   58      20
4      5   Atlético Madrid  38  15  11  12   53  46   56      20
5      6           Levante  38  16   7  15   54  50   55      20
6      7           Osasuna  38  13  15  10   44  61   54      20
7      8          Mallorca  38  14  10  14   42  46   52      20
8      9           Sevilla  38  13  11  14   48  47   50      20
9     10          Athletic  38  12  13  13   49  52   49      20
10    11            Getafe  38  12  11  15   40  51   47      20
11    12     Real Sociedad  38  12  11  15   46  52   47      20
12    13        Real Betis  38  13   8  17   47  56   47      20
13    14          Espanyol  38  12  10  16   46  56   46      20
14    15    Rayo Vallecano  38  13   4  21   53  73   43      20
15    16     Real Zaragoza  38  12   7  19   36  61   43      20
16    17           Granada  38  12   6  20   35  56   42      20
17    18        Villarreal  38   9  14  15   39  53   41      20
18    19    Sporting Gijón  38  10   7  21   42  69   37      20
19    20  Racing Santander  38   4  15  19   28  63   27      20

Delaying for 110 seconds...
https://www.zerozero.pt/edition.php?id=15638

    rank         team_name  GP   W   D   L   GF  GA   P  team_n
0      1         Barcelona  38  30   6   2   95  21  96      20
1      2       Real Madrid  38  29   5   4  102  33  92      20
2      3          Valencia  38  21   8   9   64  44  71      20
3      4        Villarreal  38  18   8  12   54  44  62      20
4      5           Sevilla  38  17   7  14   62  61  58      20
5      6          Athletic  38  18   4  16   59  55  58      20
6      7   Atlético Madrid  38  17   7  14   62  53  58      20
7      8          Espanyol  38  15   4  19   46  55  49      20
8      9           Osasuna  38  13   8  17   45  46  47      20
9     10    Sporting Gijón  38  11  14  13   35  42  47      20
10    11            Málaga  38  13   7  18   54  68  46      20
11    12  Racing Santander  38  12  10  16   41  56  46      20
12    13     Real Zaragoza  38  12   9  17   40  53  45      20
13    14           Levante  38  12   9  17   41  52  45      20
14    15     Real Sociedad  38  14   3  21   49  66  45      20
15    16            Getafe  38  12   8  18   49  60  44      20
16    17          Mallorca  38  12   8  18   41  56  44      20
17    18         Deportivo  38  10  13  15   31  47  43      20
18    19          Hércules  38   9   8  21   36  60  35      20
19    20           Almería  38   6  12  20   36  70  30      20

Delaying for 73 seconds...
https://www.zerozero.pt/edition.php?id=8819

    rank         team_name  GP   W   D   L   GF  GA   P  team_n
0      1         Barcelona  38  31   6   1   98  24  99      20
1      2       Real Madrid  38  31   3   4  102  35  96      20
2      3          Valencia  38  21   8   9   59  40  71      20
3      4           Sevilla  38  19   6  13   65  49  63      20
4      5          Mallorca  38  18   8  12   59  44  62      20
5      6            Getafe  38  17   7  14   58  48  58      20
6      7        Villarreal  38  16   8  14   58  57  56      20
7      8          Athletic  38  15   9  14   50  53  54      20
8      9   Atlético Madrid  38  13   8  17   57  61  47      20
9     10         Deportivo  38  13   8  17   35  49  47      20
10    11          Espanyol  38  11  11  16   29  46  44      20
11    12           Osasuna  38  11  10  17   37  46  43      20
12    13           Almería  38  10  12  16   43  55  42      20
13    14     Real Zaragoza  38  10  11  17   46  64  41      20
14    15    Sporting Gijón  38   9  13  16   36  51  40      20
15    16  Racing Santander  38   9  12  17   42  59  39      20
16    17            Málaga  38   7  16  15   42  48  37      20
17    18        Valladolid  38   7  15  16   37  62  36      20
18    19          Tenerife  38   9   9  20   40  74  36      20
19    20             Xerez  38   8  10  20   38  66  34      20

Delaying for 82 seconds...
https://www.zerozero.pt/edition.php?id=2328

    rank          team_name  GP   W   D   L   GF  GA   P  team_n
0      1          Barcelona  38  27   6   5  105  35  87      20
1      2       Real Madrid   38  25   3  10   83  52  78      20
2      3           Sevilla   38  21   7  10   54  39  70      20
3      4    Atlético Madrid  38  20   7  11   80  57  67      20
4      5        Villarreal   38  18  11   9   61  54  65      20
5      6          Valencia   38  18   8  12   68  54  62      20
6      7         Deportivo   38  16  10  12   48  47  58      20
7      8            Málaga   38  15  10  13   55  59  55      20
8      9          Mallorca   38  14   9  15   53  60  51      20
9     10          Espanyol   38  12  11  15   46  49  47      20
10    11           Almería   38  13   7  18   45  61  46      20
11    12  Racing Santander   38  12  10  16   49  48  46      20
12    13          Athletic   38  12   8  18   47  62  44      20
13    14    Sporting Gijón   38  14   1  23   47  79  43      20
14    15        Valladolid   38  12   7  19   46  58  43      20
15    16           Osasuna   38  10  13  15   41  47  43      20
16    17            Getafe   38  10  12  16   50  56  42      20
17    18        Real Betis   38  10  12  16   51  58  42      20
18    19          Numancia   38  10   5  23   38  69  35      20
19    20        Recreativo   38   8   9  21   34  57  33      20

Delaying for 239 seconds...
https://www.zerozero.pt/edition.php?id=1588

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1       Real Madrid   38  27   4   7  84  36  85      20
1      2        Villarreal   38  24   5   9  63  40  77      20
2      3          Barcelona  38  19  10   9  76  43  67      20
3      4    Atlético Madrid  38  19   7  12  66  47  64      20
4      5           Sevilla   38  20   4  14  75  49  64      20
5      6  Racing Santander   38  17   9  12  42  41  60      20
6      7          Mallorca   38  15  14   9  69  54  59      20
7      8           Almería   38  14  10  14  42  45  52      20
8      9         Deportivo   38  15   7  16  46  47  52      20
9     10          Valencia   38  15   6  17  48  62  51      20
10    11          Athletic   38  13  11  14  40  43  50      20
11    12          Espanyol   38  13   9  16  43  53  48      20
12    13        Real Betis   38  12  11  15  45  51  47      20
13    14            Getafe   38  12  11  15  44  48  47      20
14    15        Valladolid   38  11  12  15  42  57  45      20
15    16        Recreativo   38  11  11  16  40  60  44      20
16    17           Osasuna   38  12   7  19  37  44  43      20
17    18      Real Zaragoza  38  10  12  16  50  61  42      20
18    19       Real Murcia   38   7   9  22  36  65  30      20
19    20           Levante   38   7   5  26  33  75  26      20

Delaying for 122 seconds...
https://www.zerozero.pt/edition.php?id=1300

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1       Real Madrid   38  23   7   8  66  40  76      20
1      2          Barcelona  38  22  10   6  78  33  76      20
2      3           Sevilla   38  21   8   9  64  35  71      20
3      4          Valencia   38  20   6  12  57  42  66      20
4      5        Villarreal   38  18   8  12  48  44  62      20
5      6      Real Zaragoza  38  16  12  10  55  43  60      20
6      7    Atlético Madrid  38  17   9  12  46  39  60      20
7      8        Recreativo   38  15   9  14  54  52  54      20
8      9            Getafe   38  14  10  14  39  33  52      20
9     10  Racing Santander   38  12  14  12  42  48  50      20
10    11          Espanyol   38  12  13  13  46  53  49      20
11    12          Mallorca   38  14   7  17  41  47  49      20
12    13         Deportivo   38  12  11  15  32  45  47      20
13    14           Osasuna   38  13   7  18  51  49  46      20
14    15           Levante   38  10  12  16  37  53  42      20
15    16        Real Betis   38   8  16  14  36  49  40      20
16    17          Athletic   38  10  10  18  44  62  40      20
17    18     Celta de Vigo   38  10   9  19  40  59  39      20
18    19     Real Sociedad   38   8  11  19  32  47  35      20
19    20            Nàstic   38   7   7  24  34  69  28      20

Delaying for 150 seconds...
https://www.zerozero.pt/edition.php?id=1135

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1          Barcelona  38  25   7   6  80  35  82      20
1      2       Real Madrid   38  20  10   8  70  40  70      20
2      3          Valencia   38  19  12   7  58  33  69      20
3      4           Osasuna   38  21   5  12  49  43  68      20
4      5           Sevilla   38  20   8  10  54  39  68      20
5      6     Celta de Vigo   38  20   4  14  45  33  64      20
6      7        Villarreal   38  14  15   9  50  39  57      20
7      8         Deportivo   38  15  10  13  47  45  55      20
8      9            Getafe   38  15   9  14  54  49  54      20
9     10    Atlético Madrid  38  13  13  12  45  37  52      20
10    11      Real Zaragoza  38  10  16  12  46  51  46      20
11    12          Athletic   38  11  12  15  40  46  45      20
12    13          Mallorca   38  10  13  15  37  51  43      20
13    14        Real Betis   38  10  12  16  34  51  42      20
14    15          Espanyol   38  10  11  17  36  56  41      20
15    16     Real Sociedad   38  11   7  20  48  65  40      20
16    17  Racing Santander   38   9  13  16  36  49  40      20
17    18            Alavés   38   9  12  17  35  54  39      20
18    19             Cádiz   38   8  12  18  36  52  36      20
19    20            Málaga   38   5   9  24  36  68  24      20

Delaying for 102 seconds...
https://www.zerozero.pt/edition.php?id=498

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1          Barcelona  38  25   9   4  73  29  84      20
1      2       Real Madrid   38  25   5   8  71  32  80      20
2      3        Villarreal   38  18  11   9  69  37  65      20
3      4        Real Betis   38  16  14   8  62  50  62      20
4      5          Espanyol   38  17  10  11  54  46  61      20
5      6           Sevilla   38  17   9  12  44  41  60      20
6      7          Valencia   38  14  16   8  54  39  58      20
7      8         Deportivo   38  12  15  11  46  50  51      20
8      9          Athletic   38  14   9  15  59  54  51      20
9     10            Málaga   38  15   6  17  40  48  51      20
10    11    Atlético Madrid  38  13  11  14  40  34  50      20
11    12      Real Zaragoza  38  14   8  16  52  57  50      20
12    13            Getafe   38  12  11  15  38  46  47      20
13    14     Real Sociedad   38  13   8  17  47  56  47      20
14    15           Osasuna   38  12  10  16  46  65  46      20
15    16  Racing Santander   38  12   8  18  41  58  44      20
16    17          Mallorca   38  10   9  19  42  63  39      20
17    18           Levante   38   9  10  19  39  58  37      20
18    19          Numancia   38   6  11  21  30  61  29      20
19    20           Albacete  38   6  10  22  33  56  28      20

Delaying for 61 seconds...
https://www.zerozero.pt/edition.php?id=7

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1          Valencia   38  23   8   7  71  27  77      20
1      2          Barcelona  38  21   9   8  63  39  72      20
2      3         Deportivo   38  21   8   9  60  34  71      20
3      4       Real Madrid   38  21   7  10  72  54  70      20
4      5          Athletic   38  15  11  12  53  49  56      20
5      6           Sevilla   38  15  10  13  56  45  55      20
6      7    Atlético Madrid  38  15  10  13  51  53  55      20
7      8        Villarreal   38  15   9  14  47  49  54      20
8      9        Real Betis   38  13  13  12  46  43  52      20
9     10            Málaga   38  15   6  17  50  55  51      20
10    11          Mallorca   38  15   6  17  54  66  51      20
11    12      Real Zaragoza  38  13   9  16  46  55  48      20
12    13           Osasuna   38  11  15  12  38  37  48      20
13    14           Albacete  38  13   8  17  40  48  47      20
14    15     Real Sociedad   38  11  13  14  49  53  46      20
15    16          Espanyol   38  13   4  21  48  64  43      20
16    17  Racing Santander   38  11  10  17  48  63  42      20
17    18        Valladolid   38  10  11  17  46  56  41      20
18    19     Celta de Vigo   38   9  12  17  48  68  39      20
19    20       Real Murcia   38   5  11  22  29  57  26      20

Delaying for 128 seconds...
https://www.zerozero.pt/edition.php?id=200

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1       Real Madrid   38  22  12   4  86  42  78      20
1      2     Real Sociedad   38  22  10   6  71  45  76      20
2      3         Deportivo   38  22   6  10  67  47  72      20
3      4     Celta de Vigo   38  17  10  11  45  36  61      20
4      5          Valencia   38  17   9  12  56  35  60      20
5      6          Barcelona  38  15  11  12  63  47  56      20
6      7          Athletic   38  15  10  13  63  61  55      20
7      8        Real Betis   38  14  12  12  56  53  54      20
8      9          Mallorca   38  14  10  14  49  56  52      20
9     10           Sevilla   38  13  11  14  38  39  50      20
10    11    Atlético Madrid  38  12  11  15  51  56  47      20
11    12           Osasuna   38  12  11  15  40  48  47      20
12    13        Valladolid   38  12  10  16  37  40  46      20
13    14            Málaga   38  11  13  14  44  49  46      20
14    15        Villarreal   38  11  12  15  44  53  45      20
15    16  Racing Santander   38  13   5  20  54  64  44      20
16    17          Espanyol   38  10  13  15  48  54  43      20
17    18        Recreativo   38   8  12  18  35  61  36      20
18    19            Alavés   38   8  11  19  38  68  35      20
19    20    Rayo Vallecano   38   7  11  20  31  62  32      20

Delaying for 123 seconds...
https://www.zerozero.pt/edition.php?id=201

    rank        team_name  GP   W   D   L  GF  GA   P  team_n
0      1        Valencia   38  21  12   5  51  27  75      20
1      2       Deportivo   38  20   8  10  65  41  68      20
2      3     Real Madrid   38  19   9  10  69  44  66      20
3      4        Barcelona  38  18  10  10  65  37  64      20
4      5   Celta de Vigo   38  16  12  10  64  46  60      20
5      6      Real Betis   38  15  14   9  42  34  59      20
6      7          Alavés   38  17   3  18  41  44  54      20
7      8         Sevilla   38  14  11  13  51  40  53      20
8      9          Málaga   38  13  14  11  44  44  53      20
9     10        Athletic   38  14  11  13  54  66  53      20
10    11  Rayo Vallecano   38  13  10  15  46  52  49      20
11    12      Valladolid   38  13   9  16  45  58  48      20
12    13   Real Sociedad   38  13   8  17  48  54  47      20
13    14        Espanyol   38  13   8  17  47  56  47      20
14    15      Villarreal   38  11  10  17  46  55  43      20
15    16        Mallorca   38  11  10  17  40  52  43      20
16    17         Osasuna   38  10  12  16  36  49  42      20
17    18      Las Palmas   38   9  13  16  40  50  40      20
18    19        Tenerife   38  10   8  20  32  58  38      20
19    20    Real Zaragoza  38   9  10  19  35  54  37      20

Delaying for 86 seconds...
https://www.zerozero.pt/edition.php?id=199

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1       Real Madrid   38  24   8   6  81  40  80      20
1      2         Deportivo   38  22   7   9  73  44  73      20
2      3          Mallorca   38  20  11   7  61  43  71      20
3      4          Barcelona  38  17  12   9  80  57  63      20
4      5          Valencia   38  18   9  11  55  34  63      20
5      6     Celta de Vigo   38  16  11  11  51  49  59      20
6      7        Villarreal   38  16   9  13  58  52  57      20
7      8            Málaga   38  16   8  14  60  61  56      20
8      9          Espanyol   38  14   8  16  46  44  50      20
9     10            Alavés   38  14   7  17  58  59  49      20
10    11        Las Palmas   38  13   7  18  42  62  46      20
11    12    Rayo Vallecano   38  10  13  15  56  68  43      20
12    13     Real Sociedad   38  11  10  17  52  68  43      20
13    14          Athletic   38  11  10  17  44  60  43      20
14    15      Real Zaragoza  38   9  15  14  54  57  42      20
15    16        Valladolid   38   9  15  14  42  50  42      20
16    17           Osasuna   38  10  12  16  43  54  42      20
17    18       Real Oviedo   38  11   8  19  51  67  41      20
18    19  Racing Santander   38  10   9  19  48  62  39      20
19    20          Numancia   38  10   9  19  40  64  39      20

Delaying for 72 seconds...
https://www.zerozero.pt/edition.php?id=196

    rank          team_name  GP   W   D   L  GF  GA   P  team_n
0      1         Deportivo   38  21   6  11  66  44  69      20
1      2          Barcelona  38  19   7  12  70  46  64      20
2      3          Valencia   38  18  10  10  59  39  64      20
3      4      Real Zaragoza  38  16  15   7  60  40  63      20
4      5       Real Madrid   38  16  14   8  58  48  62      20
5      6            Alavés   38  17  10  11  41  37  61      20
6      7     Celta de Vigo   38  15   8  15  45  43  53      20
7      8        Valladolid   38  14  11  13  36  44  53      20
8      9    Rayo Vallecano   38  15   7  16  51  53  52      20
9     10          Mallorca   38  14   9  15  52  45  51      20
10    11          Athletic   38  12  14  12  47  57  50      20
11    12            Málaga   38  11  15  12  55  50  48      20
12    13          Espanyol   38  12  11  15  51  48  47      20
13    14     Real Sociedad   38  11  14  13  42  49  47      20
14    15  Racing Santander   38  10  16  12  52  50  46      20
15    16          Numancia   38  11  12  15  47  59  45      20
16    17       Real Oviedo   38  11  12  15  44  60  45      20
17    18        Real Betis   38  11   9  18  33  56  42      20
18    19    Atlético Madrid  38   9  11  18  48  64  38      20
19    20           Sevilla   38   5  13  20  42  67  28      20

Delaying for 138 seconds...

IndexError: list index out of range

In [9]:
url_comp

'https://www.zerozero.pt/competition.php?id_comp=15'

In [5]:
# snippet to scrape specific tables

dir_name = "Unprocessed"
f = open("non_scraped_urls.txt")
for url_season in f.readlines():
	print(url_season)
	season = req.get(url=url_season, headers=user_agent)
	assert(season.status_code == 200)
	soup = BeautifulSoup(season.content)
	names = [i.text for i in soup.find_all("td", attrs = {"class":"text"})]
	total_games = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos jogos disputados"})]
	wins = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todas as vitórias"})]
	ties = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos os empates"})]
	losses = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todas as derrotas"})]
	points = [i.text for i in soup.find_all("strong")]
	goals_for = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos os jogos com golos marcados"})]
	goals_against = [i.text for i in soup.find_all("a", attrs = {"title":"Ver todos os jogos com golos sofridos"})]
	if (len(goals_against) == 0):
		print(f"Reading failed. Break - {url_season} was NOT scraped")
		f = open("non_scraped_urls.txt", "a+")
		f.write(url_season + '\n')
		f.close()
		sleep(randint(1200, 2400))
	else:
		table = pd.concat([pd.Series(data=names, name="team_name"), pd.Series(total_games, name="GP"), pd.Series(wins, name="W"), pd.Series(ties, name="D"), pd.Series(losses, name="L"), pd.Series(goals_for, name="GF"), pd.Series(goals_against, name="GA"), pd.Series(points, name="P")], axis=1)
		table["rank"] = np.arange(1,len(table) + 1)
		table["team_n"] = len(table)
		table = table.iloc[:, [8,0,1,2,3,4,5,6,7,9]]
		file_name = dir_name + "/" + re.findall('[0-9]+', url_season)[0]
		table.to_csv(file_name + ".csv")
		# if ((comp_id == 15) | (comp_id == 271)):
		# 	f = open(file_name + ".txt", "w+")
		# 	f.write(season.text)
		# 	f.close()
		display(table)
		if randint(1,5) == 5:
			delay = randint(25,150)
			req.get(url_comp, headers=user_agent)
		if randint(1,8) == 8:
			delay = randint(120,240)
		else:
			delay = randint(25,150)
		print(f"Delaying for {delay} seconds...")
		sleep(delay)

https://www.zerozero.pt/edition.php?id=28683

    rank          team_name   GP    W    D    L   GF   GA    P  team_n
0      1    Cheltenham Town   46   31    9    6   71   28  102      30
1      2            Rushden   46   30    7    9   96   48   97      30
2      3            Rushden   46   24    7   15   72   60   79      30
3      4           Rochdale   46   21   15   10   66   49   78      30
4      5  Hartlepool United   46   21   15   10   65   52   78      30
5      6    Cheltenham Town   46   20   13   13   69   53   73      30
6      7    Plymouth Argyle   46   20   11   15   74   48   71      30
7      8         Luton Town   46   19   14   13   74   56   71      30
8      9     Mansfield Town   46   20   10   16   64   53   70      30
9     10    Cheltenham Town   46   19    9   18   56   47   66      30
10    11           Rochdale   46   16   13   17   57   51   61      30
11    12            Rushden   46   15   13   18   51   54   58      30
12    13  Hartlepool United   46   15   13   18   41   52   58      30
13    14  Scunthorpe United   46   16    9   21   54   67   57      30
14    15    Shrewsbury Town   46   15   11   20   60   71   56      30
15    16      Kidderminster   46   14   13   19   48   73   55      30
16    17          Hull City   46   12   16   18   49   56   52      30
17    18    Southend United   46   13   13   20   55   71   52      30
18    19  Macclesfield Town   46   12   15   19   46   63   51      30
19    20          York City   46   13   12   21   53   77   51      30
20    21         Darlington   46   11   14   21   53   62   47      30
21    22        Exeter City   46   10   16   20   44   62   46      30
22    23    Carlisle United   46   11   12   23   40   60   45      30
23    24      Leyton Orient   46    8   12   26   39   84   36      30
24    25     Torquay United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
25    26       Swansea City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
26    27      Oxford United  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
27    28       Lincoln City  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
28    29     Bristol Rovers  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30
29    30       Halifax Town  NaN  NaN  NaN  NaN  NaN  NaN  NaN      30

Delaying for 188 seconds...
https://www.zerozero.pt/edition.php?id=2156

    rank     team_name  GP   W   D   L  GF  GA   P  team_n
0      1          Ajax  34  25   5   4  79  31  80      18
1      2           PSV  34  23   5   6  92  30  74      18
2      3     Feyenoord  34  20   8   6  71  38  68      18
3      4    Heerenveen  34  17   7  10  45  35  58      18
4      5    AZ Alkmaar  34  17   6  11  65  42  57      18
5      6          Roda  34  14  11   9  60  41  53      18
6      7     Willem II  34  13  10  11  47  54  49      18
7      8     FC Twente  34  15   3  16  56  53  48      18
8      9     NAC Breda  34  12  10  12  58  55  46      18
9     10    FC Utrecht  34  13   7  14  42  52  46      18
10    11  RKC Waalwijk  34  10  10  14  47  55  40      18
11    12    Roosendaal  34  10  10  14  34  47  40      18
12    13  FC Groningen  34   9  10  15  38  53  37      18
13    14           NEC  34  10   4  20  44  62  34      18
14    15  ADO Den Haag  34   9   7  18  36  61  34      18
15    16       Vitesse  34   4  16  14  39  56  28      18
16    17   FC Volendam  34   7   6  21  31  79  27      18
17    18        Zwolle  34   5  11  18  27  67  26      18

Delaying for 86 seconds...

In [3]:
f = open("non_scraped_urls.txt")
for line in f.readlines():
	print(line)
f.close()

https://www.zerozero.pt/edition.php?id=28683

https://www.zerozero.pt/edition.php?id=2156